<!DOCTYPE html>
<!-- Termini di Servizio -->
<html>
    <head>
        <title>Tastysnap - Utilizzo dei Cookie</title>
    </head>
    
    <style>
        .terms_tasty_logo{
            display:inline-block;
            max-width: 200px;
            width: 100%;
        }
        
        h2, p, a, div{
            color:white;
        }
        
        h2{margin-bottom:30px;}
        
        a{
            text-decoration:none;
        }
        
        a:hover{
            text-decoration:none;
            color:orange;
        }
        
        .active{
            color:orange !important;
        }
        
        .about{
            *border: 1px solid;
            margin: 40px 25px 10px 25px;
            padding: 10px;
            display:inline-block;
        }
    </style>
  
    <body>
        <div class="container">
            <div class="row text-center">
                <a href="index"><img src="https://tastysnap.com/app_images/tastysnaplogo_full.png" class="terms_tasty_logo"></a>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="info" class="about">Informazioni su Tastysnap</a>
                    <a href="terms" class="about">Termini di Servizio</a>
                    <a href="privacy" class="about">Informativa sulla Privacy</a>
                    <a href="cookie" class="about active">Utilizzo dei Cookie</a>
                </div>
                <div class="col-md-12 text-center"><hr/></div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">UTILIZZO DEI COOKIE</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum                        <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum                        <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
