<!DOCTYPE html>
<!-- Termini di Servizio -->
<html>
    <head>
        <title>Tastysnap - Utilizzo dei Cookie</title>
    </head>
    
    <style>
        .terms_tasty_logo{
            display:inline-block;
            max-width: 200px;
            width: 100%;
        }
        
        h2, p, a, div{
            color:white;
        }
        
        h2{margin-bottom:30px;}
        
        a{
            text-decoration:none;
        }
        
        a:hover{
            text-decoration:none;
            color:orange;
        }
        
        .active{
            color:orange !important;
        }
        
        .about{
            *border: 1px solid;
            margin: 40px 25px 10px 25px;
            padding: 10px;
            display:inline-block;
        }
    </style>
  
    <body>
        <div class="container">
            <div class="row text-center">
                <a href="/"><img src="app_images/tastysnaplogo_full.png" class="terms_tasty_logo"></a>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="info" class="about">Informazioni su Tastysnap</a>
                    <a href="terms" class="about">Termini di Servizio</a>
                    <a href="privacy" class="about">Informativa sulla Privacy</a>
                    <a href="cookie" class="about active">Utilizzo dei Cookie</a>
                </div>
                <div class="col-md-12 text-center"><hr/></div>
            </div>
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="text-center">UTILIZZO DEI COOKIE</h2>
                    
                    <h3>Cosa sono i cookie</h3>
                    <p>
                        I cookie sono stringhe di testo inviate da un web server al browser Internet dell’utente, da quest’ultimo memorizzati automaticamente sul computer dell’utente e rinviati automaticamente al server a ogni occorrenza o successivo accesso al sito.
                    </p>
                    
                    <h3>In che modo Tastysnap usa i cookie</h3>
                    <p>
                        Utilizziamo i cookie per moltissime funzioni come le seguenti:
                        <ul>
                            <li>
Personalizzazione dell’interfaccia utente e dei contenuti (per esempio ricette, raccolte, prodotti).
                            </li>
                            <li>
Aiutare gli inserzionisti a mostrare annunci interessanti.
                            </li>
                            <li>
Utilizziamo i cookie per ricordare le impostazioni e le preferenze degli utenti.
                            </li>
                            <li>
I cookie consentono agli utenti di entrare e uscire da Tastysnap.
                            </li>
                            <li>
Usiamo i cookie per proteggere gli utenti dai rischi per la loro sicurezza.
                            </li>
                            <li>
I cookie vengono adoperati sia per migliorare Tastysnap, sia per raccogliere dati statistici sui contenuti e servizi offerti da Tastysnap.
                            </li>
                            <li>
A volte ci serviamo di fornitori di servizi di sicurezza o di servizi di analisi di terze parti per capire in che modo gli utenti utilizzano Tastysnap.
                            </li>
                        </ul>
                    </p>
                    
                    <h3>Dove utilizziamo i cookie</h3>
                    <p>
                        Utilizziamo i cookie su tastysnap.com e nei nostri prodotti e servizi (come annunci, email e applicazioni).
                    </p>
                    
                    <h3>Le opzioni a disposizione degli utenti</h3>
                    <p>
                        Puoi scegliere in che modo vuoi che i cookie vengano utilizzati su Tastysnap:
                        <ul>
                            <li>
Il tuo browser probabilmente ti offre opzioni per i cookie. Ad esempio, la maggior parte dei browser ti consente di bloccare i "cookie di terze parti", ossia i cookie di altri siti diversi da quello che stai visitando. Queste opzioni variano a seconda del browser; pertanto, controlla le impostazioni del tuo browser per ulteriori informazioni. 
                            </li>
                            <li>
Alcuni browser dispongono anche dell'impostazione di privacy nota come "Do Not Track”. Queste impostazioni rappresentano un altro strumento a tua disposizione per decidere se vuoi che utilizziamo le informazioni fornite dai nostri partner e da altri servizi per personalizzare Tastysnap in base alle tue esigenze.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        
        <%- partial('../assets/partials/footer.html') %>
        
    </body>
</html>
