<!DOCTYPE html>
<!-- Termini di Servizio -->
<html>

<head>
    <title>Tastysnap - Informazioni su Tastysnap</title>
</head>

<style>
    .terms_tasty_logo {
        display: inline-block;
        max-width: 200px;
        width: 100%;
    }
    
    h2,
    p,
    a,
    div {
        color: white;
    }
    
    h2 {
        margin-bottom: 30px;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
        color: orange;
    }
    
    .active {
        color: orange !important;
    }
    
    .about {
        *border: 1px solid;
        margin: 40px 25px 10px 25px;
        padding: 10px;
        display: inline-block;
    }
</style>

<body>
    <div class="container">
        <div class="row text-center">
            <a href="/"><img src="app_images/tastysnaplogo_full.png" class="terms_tasty_logo"></a>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="info" class="about active">Informazioni su Tastysnap</a>
                <a href="terms" class="about">Termini di Servizio</a>
                <a href="privacy" class="about">Informativa sulla Privacy</a>
                <a href="cookie" class="about">Utilizzo dei Cookie</a>
            </div>
            <div class="col-md-12 text-center">
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">INFORMAZIONI SU TASTYSNAP</h2>
                <p>
                    Tastysnap è un social network dedicato alla creazione, pubblicazione e condivisione di ricette da parte di utenti provenienti
                    da ogni parte del mondo. Tastysnap ha inoltre lo scopo di integrare aziende alimentari, promuovere i
                    loro prodotti attraverso campagne pubblicitarie all’interno della piattaforma, creare nuovi contatti
                    e facilitare l’acquisizione di nuovi potenziali clienti. Con Tastysnap dai sfogo alla tua creatività
                    in cucina, puoi inoltre creare raccolte di ricette che preferisci, in base alle quali saremo in grado
                    di risalire ai tuoi gusti e offrirti consigli alimentari. Tastysnap è integrato e interagibile con altri
                    social network come Facebook, Twitter e Google+. TastySnap è una piattaforma multi-sided rivolta a aziende
                    alimentari e utenti:
                    <ul>
                        <li>

                            che facilita la condivisione delle proprie creazioni culinarie attraverso ricette che possono essere commentate e valutate
                            da tutti gli iscritti, offre consigli alimentari agli utenti sulla base dei loro gusti e interessi
                            col fine di migliorare la qualità della vita;
                        </li>
                        <li>
                            dove gli utenti sono incentivati costantemente a creare nuove ricette grazie ad un sistema di remunerazione basato sulla
                            qualità del contenuto che pubblicano;
                        </li>
                        <li>
                            dove le pubblicità presenti nella piattaforma sono meno invasive per gli utenti perché vengono proposte come consigli basati
                            sul profilo degli utenti.
                        </li>
                    </ul>
                    Vogliamo rivoluzionare l’approccio al mondo della cucina e per farlo, abbiamo progettato una piattaforma user-friendly estremamente
                    funzionale e personale. In pochi e semplici passi si avrà a disposizione un profilo personale completo
                    di tutto per dar sfogo alla creatività e conoscere e far conoscere l’arte culinaria nel mondo restando
                    in contatto con aziende alimentari ed utenti iscritti al social network. Si potranno creare raccolte
                    di ricette in base alle quali riusciremo ad individuare i gusti personali di ogni utente, riuscendo così
                    a fornire consigli alimentari che rispecchino le sue preferenze. Ogni utente potrà espandere la propria
                    visibilità all’interno di Tastysnap in quanto abbiamo ideato un sistema di remunerazione basato sulla
                    qualità di ogni singola ricetta, in modo da incentivare l’attività di ogni utente all’interno del social
                    network.<br>
                    Con Tastysnap abbiamo voluto rivoluzionare l’approccio al mondo della cucina cercando di incentivare
                    l’intera popolazione ad avvicinarsi al tema fondamentale della vita di tutti i giorni: il cibo. In base
                    al profilo personale, alle proprie ricette, ai tuoi gusti, saremo in grado di fornirti consigli alimentari
                    al fine di migliorare la qualità della vita.
                </p>
            </div>
        </div>
    </div>
</body>

</html>