<!DOCTYPE html>
<html>
  <head>
    <title>TastySnap</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Favicon configuration -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff9800">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ff9800">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="/libs/angular-spinkit/build/angular-spinkit.min.css">
    <link rel="stylesheet" href="/libs/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="/libs/angularjs-slider/dist/rzslider.min.css">
    <link rel="stylesheet" href="/libs/angular-google-places-autocomplete/dist/autocomplete.min.css">
    <link rel="stylesheet" href="/libs/lightbox2/dist/css/lightbox.min.css">

    <!-- Attenzione: le righe comprese tra STYLES vengono sovrascritte, non modificare
    manualmente -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-social.css">
    <link rel="stylesheet" href="/styles/custom_bootstrap.css">
    <link rel="stylesheet" href="/styles/custom_navbar.css">
    <link rel="stylesheet" href="/styles/custom_sidebar.css">
    <link rel="stylesheet" href="/styles/custom_toastr.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/signin.css">
    <link rel="stylesheet" href="/styles/simple-sidebar.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->


    <base href="/" /> 

  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!-- Custom JS -->
    <script src="libs/lodash/dist/lodash.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-filter/dist/angular-filter.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="libs/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="libs/color-thief/dist/color-thief.min.js"></script>
    <script src="libs/angular-spinkit/build/angular-spinkit.min.js"></script>
    <script src="libs/stackblur-canvas/dist/stackblur.min.js"></script>
    <script src="libs/moment/min/moment.min.js"></script>
    <script src="libs/moment/locale/it.js"></script>
    <script src="libs/angular-messages/angular-messages.min.js"></script>
    <script src="libs/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="libs/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="libs/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="libs/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpj_s-hKfb1dpG__r68JBgTBHNqT4dIb8&libraries=places"></script>
    <script src="libs/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="libs/angular-click-outside/clickoutside.directive.js"></script>
    <script src="libs/lightbox2/dist/js/lightbox.min.js"></script>

    <!-- Attenzione: le righe comprese tra SCRIPTS vengono sovrascritte, non modificare
    manualmente -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/appRoutes.js"></script>
    <script src="/js/controllers/AuthCtrl.js"></script>
    <script src="/js/controllers/CollectionCtrl.js"></script>
    <script src="/js/controllers/CollectionDetailCtrl.js"></script>
    <script src="/js/controllers/CollectionSelectionModalCtrl.js"></script>
    <script src="/js/controllers/CommentCtrl.js"></script>
    <script src="/js/controllers/ExtHomeCtrl.js"></script>
    <script src="/js/controllers/FollowingCollectionsCtrl.js"></script>
    <script src="/js/controllers/MasterCtrl.js"></script>
    <script src="/js/controllers/NavCtrl.js"></script>
    <script src="/js/controllers/NearRecipesCtrl.js"></script>
    <script src="/js/controllers/RecipeCreateCtrl.js"></script>
    <script src="/js/controllers/RecipeCtrl.js"></script>
    <script src="/js/controllers/RecipeDetailCtrl.js"></script>
    <script src="/js/controllers/RecipeImageSliderCtrl.js"></script>
    <script src="/js/controllers/RecipeReviewCtrl.js"></script>
    <script src="/js/controllers/SearchCtrl.js"></script>
    <script src="/js/controllers/SearchRecipeCtrl.js"></script>
    <script src="/js/controllers/SideBarCtrl.js"></script>
    <script src="/js/controllers/UserHomeCtrl.js"></script>
    <script src="/js/controllers/UserProfileCtrl.js"></script>
    <script src="/js/controllers/UserProfileFollowerUsersCtrl.js"></script>
    <script src="/js/controllers/UserProfileFollowingUsersCtrl.js"></script>
    <script src="/js/directives/back_img.js"></script>
    <script src="/js/directives/collection_card.js"></script>
    <script src="/js/directives/empty_list_holder.js"></script>
    <script src="/js/directives/google_place.js"></script>
    <script src="/js/directives/hide_during_resolve.js"></script>
    <script src="/js/directives/load_more_button.js"></script>
    <script src="/js/directives/loading.js"></script>
    <script src="/js/directives/my-dropdown.js"></script>
    <script src="/js/directives/ng-thumb.js"></script>
    <script src="/js/directives/recipe_card.js"></script>
    <script src="/js/directives/resolve_loader.js"></script>
    <script src="/js/directives/show_during_resolve.js"></script>
    <script src="/js/directives/user_card.js"></script>
    <script src="/js/directives/widget-body.js"></script>
    <script src="/js/directives/widget-footer.js"></script>
    <script src="/js/directives/widget-header.js"></script>
    <script src="/js/directives/widget.js"></script>
    <script src="/js/google_analytics.js"></script>
    <script src="/js/services/AuthService.js"></script>
    <script src="/js/services/CollectionService.js"></script>
    <script src="/js/services/CommentService.js"></script>
    <script src="/js/services/ImageUtilsService.js"></script>
    <script src="/js/services/IngredientService.js"></script>
    <script src="/js/services/PostService.js"></script>
    <script src="/js/services/ProductService.js"></script>
    <script src="/js/services/RecipeReviewService.js"></script>
    <script src="/js/services/RecipeService.js"></script>
    <script src="/js/services/RecipeStepService.js"></script>
    <script src="/js/services/UserService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
