<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>TastySnap - Recipe</title>
	
	<!-- Font awesome -->
	<link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Social Login Css -->
	<link href="bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-social.css" rel="stylesheet" >
    
    <!-- Matt' Css -->
    <link href="style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="login_body">
        <div class="container-fluid">			
            <div class="row background">			
                <div class="container-fluid login_container text-center">
                    <div class="row">
						<a href="index.php"><img src="tastysnaplogo_full.png" class="login_brand"></a>
					</div>
					<div class="row social-buttons">
						<a href="api/v1/auth/facebook" class="btn btn-block btn-social btn-facebook">
							<span class="fa fa-facebook"></span> Sign in with <b>Facebook</b>
						</a>
						<a class="btn btn-block btn-social btn-google">
							<span class="fa fa-google"></span> Sign in with <b>Google</b>
						</a>
						<a class="btn btn-block btn-social btn-twitter">
							<span class="fa fa-twitter"></span> Sign in with <b>Twitter</b>
						</a>
					</div>
					<div class="row">
						<p class="login_privacy">
							<small>
							Iscrivendoti, accetti i <a href="#">Termini di Servizio</a> e l' <a href="#">informativa sulla privacy</a>, incluso l' <a href="#">Utilizzo dei cookie</a>.
							Altri utenti potranno trovarti tramite email, laddove fornita.
							</small>
						</p>
					</div>
				</div>
			</div>
			
			<div class="row login_footer">
				<div class="login_footer_item">Informazioni su TastySnap</div>
				<div class="login_footer_item login_footer_item_divider">-</div>
				
				<div class="login_footer_item">Blog</div>
				<div class="login_footer_item login_footer_item_divider">-</div>
				
				<div class="login_footer_item">Per le Aziende</div>
				<div class="login_footer_item login_footer_item_divider">-</div>
				
				<div class="login_footer_item">Privacy e Termini</div>
				<div class="login_footer_item login_footer_item_divider">-</div>
				
				<div class="login_footer_item">App per Android</div>
				<div class="login_footer_item login_footer_item_divider">-</div>
				
				<div class="login_footer_item">App per Iphone</div>
			</div>
			
        </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>