<!DOCTYPE html>
<!-- Termini di Servizio -->
<html>
    <head>
        <title>Tastysnap - Informativa sulla Privacy</title>
    </head>
    
    <style>
        .terms_tasty_logo{
            display:inline-block;
            max-width: 200px;
            width: 100%;
        }
        
        h2, p, a, div{
            color:white;
        }
        
        h2{margin-bottom:30px;}
        
        a{
            text-decoration:none;
        }
        
        a:hover{
            text-decoration:none;
            color:orange;
        }
        
        .active{
            color:orange !important;
        }
        
        .about{
            *border: 1px solid;
            margin: 40px 25px 10px 25px;
            padding: 10px;
            display:inline-block;
        }
    </style>
  
    <body>
        <div class="container">
            <div class="row text-center">
                <a href="/"><img src="app_images/tastysnaplogo_full.png" class="terms_tasty_logo"></a>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="info" class="about">Informazioni su Tastysnap</a>
                    <a href="terms" class="about">Termini di Servizio</a>
                    <a href="privacy" class="about active">Informativa sulla Privacy</a>
                    <a href="cookie" class="about">Utilizzo dei Cookie</a>
                </div>
                <div class="col-md-12 text-center"><hr/></div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">INFORMATIVA SULLA PRIVACY</h2>
                    
                    <h3>Grazie di usare Tastysnap</h3>
                    <p>
                        Ti ringraziamo per utilizzare Tastysnap. Abbiamo redatto queste norme per aiutarti a capire quali informazioni raccogliamo, come le usiamo e quali sono le opzioni a tua disposizione in merito ai tuoi dati.
                    </p>
                    
                    <h3>Quali informazioni raccogliamo?</h3>
                    <p>
                        Quando accedi o usi i nostri servizi, ci fornisci il consenso ad alcune tue informazioni. Queste possono includere il tuo nome, cognome, la foto del profilo e della copertina del profilo, commenti, gusti e giudizi, l’indirizzo mail usato per iscriverti, la tua posizione, e qualsiasi altra informazione che ci fornisci. Se decidi di acquistare qualsiasi cosa su Tastysnap, ci fornisci informazioni riguardo al pagamento, al contatto (per esempio, indirizzo e numero di telefono) e all’oggetto o servizio che hai acquistato. L’accesso a Tastysnap è supportato da servizi di terze parti (per esempio da Facebook), pertanto ci garantisci i permessi per accedere alle tue informazioni su servizi di terze parti.<br>
                        Oltre alle precedenti informazioni, raccogliamo informazioni di tipo tecnico quando usi i nostri servizi. Queste informazioni includono dati che il browser invia quando visiti un sito web, cookies e informazioni relative al dispositivo che usi per accedere a Tastysnap.
                    </p>
                    
                    <h3>Come utilizziamo le informazioni che raccogliamo?</h3>
                    <p>
                        Tastysnap usa le informazioni raccolte per fornire i propri servizi e prodotti agli utenti e per migliorarli, sviluppare nuovi prodotti e/o servizi, e per proteggere Tastysnap e i suoi utenti.
                        Inoltre, usiamo le informazioni collezionate per offrire agli utenti contenuti personalizzati come: ricette consigliate, raccolte, prodotti e pubblicità che potrebbero interessare all’utente. Per garantire un servizio migliore, utilizziamo le informazioni che raccogliamo per inviare aggiornamenti, newsletter, materiali pubblicitari e altre informazioni utili agli utenti, per aiutare gli utenti a trovare i propri amici o per farsi trovare su Tastysnap.<br>
                        Le informazioni che raccogliamo possono essere "di identificazione personale" (possono essere usate per identificarti specificamente come una persona unica) o "di identificazione non personale" (non possono essere usate per identificarti specificamente). Ci riserviamo di usare o archiviare le informazioni ovunque Tastysnap intrattenga rapporti commerciali, anche in Paesi al di fuori di quello in cui ti trovi.
                    </p>
                    
                    <h3>Come e quando condividiamo le informazioni?</h3>
                    <p>
                        Chiunque può vedere le tue ricette, raccolte pubbliche, e le informazioni sul profilo che ci hai fornito. Le altre circostanze in cui potremmo condividere le tue informazioni personali sono:
                        <ul>
                            <li>
Quando abbiamo il tuo consenso. Questo include la condivisione delle informazioni con altri servizi (come Facebook, Google e Twitter) quando decidi di iscriverti a Tastysnap.
                            </li>
                            <li>
Permettiamo a terze parti di collezionare informazioni per indagini di mercato riguardanti campagne pubblicitarie.
                            </li>
                            <li>
Se crediamo che la divulgazione sia ragionevolmente necessaria per rispettare una legge, regolamento o richiesta legale; per proteggere la sicurezza, i diritti o la proprietà di qualsiasi entità pubblica o privata, o Tastysnap; o per testare la sicurezza, rilevare e prevenire truffe o problemi tecnici.
                            </li>
                            <li>
Qualora fossimo coinvolti in una fusione, acquisizione, bancarotta, scioglimento, riorganizzazione o simili transazioni o procedimenti che comportano il trasferimento delle informazioni descritte nelle presenti norme.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
