<!DOCTYPE html>
<!-- Termini di Servizio -->
<html>
    <head>
        <title>Tastysnap - Termini di Servizio</title>
    </head>
    
    <style>
        .terms_tasty_logo{
            display:inline-block;
            max-width: 200px;
            width: 100%;
        }
        
        h2, p, a, div{
            color:white;
        }
        
        h2{margin-bottom:30px;}
        
        a{
            text-decoration:none;
        }
        
        a:hover{
            text-decoration:none;
            color:orange;
        }
        
        .active{
            color:orange !important;
        }
        
        .about{
            *border: 1px solid;
            margin: 40px 25px 10px 25px;
            padding: 10px;
            display:inline-block;
        }
    </style>
  
    <body>
        <div class="container">
            <div class="row text-center">
                <a href="/"><img src="app_images/tastysnaplogo_full.png" class="terms_tasty_logo"></a>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="terms" class="about active">Termini di Servizio</a>
                    <a href="privacy" class="about">Informativa sulla Privacy</a>
                    <a href="cookie" class="about">Utilizzo dei Cookie</a>
                </div>
                <div class="col-md-12 text-center"><hr/></div>
            </div>
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="text-center">TERMINI DI SERVIZIO</h2>
                    
                    <h3>Grazie di usare Tastysnap</h3>
                    <p>
                        Tutti i servizi e prodotti legati a Tastysnap sono forniti da Tastysnap s.r.l.. I seguenti Termini di servizio (“Termini”) regolano l’accesso e l’uso del sito web e di altri prodotti e servizi (“Servizi”) offerti da Tastysnap. Per favore leggi questi Termini con attenzione, e contattaci per qualsiasi domanda. Iscrivendoti a Tastysnap o usando i nostri Servizi, l’utente accetta questi Termini e la nostra Privacy Policy.
                    </p>
                    
                    <h3>Uso di Tastysnap</h3>
                    <p>
                        L’utente può usare i nostri Servizi soltanto se accetta i seguenti Termini, nonché qualsiasi modifica che potrà essere apportata. Al fine di accedere ai Servizi e usare Tastysnap, l’utente è tenuto a fornire i dati personali occorrenti per la propria identificazione o, comunque, occorrenti per consentire l’uso di Tastysnap e dei servizi ad esso associati. L’utente è tenuto a fornire dati veritieri ed a tenerli aggiornati. Tastysnap non potrà essere ritenuta responsabile per qualsiasi perdita o danno, inclusi quelli derivanti dal mancato accesso ai Servizi, derivante dalla comunicazione di dati e di informazioni non veritieri o non aggiornati. Se l’iscrizione a Tastysnap avviene per conto di una azienda, organizzazione, o altra entità, allora per “utente” si include la persona che ha effettuato l’iscrizione e l’entità rappresentata e garantisce che tale persona è autorizzata ad accettare i nostri Termini e la nostra Privacy Policy. Se l’utente intende usare i nostri Servizi per fini commerciali deve creare un account business ed accettare i nostri Termini di servizio per account business.
Tastysnap potrà fornire link a siti o risorse web, nonché servizi di contatto tra gruppi di utenti. L’utente riconosce e accetta quindi che Tastysnap non è responsabile per la disponibilità di tali risorse o siti esterni e che non avalla e non è responsabile per i relativi contenuti, la pubblicità, i prodotti o altri materiali presenti o disponibili su tali siti o risorse.
                    </p>
                    
                    <h3>Cessazione del servizio</h3>
                    <p>
                        L’utente e Tastysnap potranno interrompere l’uso dei Servizi in qualsiasi momento. Tastysnap si riserva il diritto di modificare, sospendere o interrompere i servizi forniti, o parte di essi, in qualsiasi momento e con o senza preavviso. L’utente accetta che Tastysnap non sarà ritenuta responsabile nei propri confronti o di qualsiasi terza parte per le predette modifiche, le sospensioni o le interruzioni. 
                    </p>
                    
                    <h3>Il tuo contenuto</h3>
                    <p>
                        Tastysnap permette all’utente di inserire contenuti, includere foto, commenti, link, e altri materiali. Viene comunemente chiamato “Contenuto Utente” tutto il contenuto inserito dall’utente. L’utente detiene tutti i diritti sui contenuti inseriti, ed è l’unico responsabile di esso.<br>
L’utente concede a Tastysnap e ai suoi utenti una licenza non esclusiva, senza royalty, trasferibile e mondiale per usare, archiviare, mostrare, riprodurre, modificare, creare lavori derivati e distribuire il suo Contenuto Utente su Tastysnap per garantire l’operatività e lo sviluppo dei nostri Servizi. Tastysnap si riserva il diritto di rimuovere o modificare il Contenuto Utente per qualsiasi ragione.<br>
A seguito di una cessazione del servizio o alla cancellazione dell’account dell’utente, oppure a seguito di una eliminazione di qualsiasi Contenuto Utente da parte dell’utente stesso, Tastysnap può ritenere opportuno conservare il Contenuto Utente per ragioni di backup, archiviazione. Inoltre, Tastysnap ed i suoi utenti potranno conservare e continuare ad usare, archiviare, mostrare, riprodurre, modificare, creare lavori derivati e distribuire il Contenuto Utente.<br>
Apprezziamo ricevere commenti o idee dai nostri utenti e siamo sempre interessati a conoscere modi in cui possiamo migliorare Tastysnap. Se si sceglie di inviare commenti o idee, l’utente accetta che siamo liberi di usarli senza alcuna limitazione o compensazione all’utente.
                    </p>
                    
                    <h3>Sicurezza</h3>
                    <p>
                        Diamo molto peso alla sicurezza dei nostri utenti. Nonostante l’impegno per garantire la sicurezza dei contenuti degli utenti e dei loro account, Tastysnap non può garantire che persone non autorizzate non saranno capaci di eludere le nostre misure di sicurezza. Se l’utente ritiene che il proprio account è stato usato da terze parti non autorizzate, allora è invitato a contattarci immediatamente.
                    </p>
                    
                    <h3>Diritti di proprietà intellettuale</h3>
                    <p>
                        L’utente riconosce e accetta che Tastysnap e qualsiasi servizio collegato a Tastysnap possono comportare l’uso di informazioni proprietarie e riservate, protette dalle leggi applicabili in materia di proprietà intellettuale e da altre norme o trattati anche internazionali.<br>
L’utente inoltre riconosce ed accetta che i contenuti presenti in eventuali annunci pubblicitari visualizzati tramite i Servizi sono di proprietà dei rispettivi titolari del relativo diritto d’autore, marchio di fabbrica, marchio di servizio, brevetto o altro diritto.<br>
Tastysnap concede all’utente un diritto e una licenza personali, non trasferibili e non esclusivi per l’uso dei Servizi. L’utente accetta di non riprodurre, duplicare, copiare, vendere, negoziare, rivendere o utilizzare a fini commerciali, in tutto o in parte, i nostri Servizi.<br>
L’utente s’impegna a non effettuare, direttamente o indirettamente, una delle seguenti attività: copiare, modificare, creare opere derivate del codice sorgente, decodificare, disassemblare o tentare in altro modo di scoprire tale codice, vendere, trasferire, concedere in sublicenza o altrimenti trasferire qualsiasi diritto relativo a Tastysnap e ai nostri Servizi.
                    </p>
                    
                    <h3>Limitazione di responsabilità</h3>
                    <p>
                        L’utente dichiara di riconoscere e accettare quanto segue:
                        <ul>
                            <li>
L’uso dei nostri Servizi da parte dell’utente è ad esclusivo rischio dell’utente stesso. Tutti Servizi e i contenuti correlati  sono forniti “così come sono” e “in base alla disponibilità”. Nella misura massima consentita dalla legge, Tastysnap e i suoi partner non riconoscono alcuna garanzia e condizione di qualsiasi tipo, comprese, a titolo esemplificativo, le garanzie implicite e le condizioni di commerciabilità e di idoneità ad uno scopo particolare.
                            </li>
                            <li>
Tastysnap non garantisce che i suoi Servizi soddisfino specifiche esigenze dell’utente, che siano privi di malfunzionamenti o senza errori, che la qualità di qualsiasi prodotto, servizio, informazione o altro materiale acquistato o ottenuto dall’utente tramite il sito web soddisferà le aspettative dell’utente e che gli eventuali errori nel software verranno corretti. Inoltre, Tastysnap non si assume alcuna responsabilità per qualsiasi Contenuto Utente che l’utente, altri utenti o terze parti pubblicano. Pertanto l’utente riconosce e accetta che potrebbe essere esposto a un Contenuto Utente che può risultare non accurato, opinabile o inappropriato per minori.
                            </li>
                            <li>
Nessuna informazione o consiglio, sia orali che scritti, forniti all’utente da Tastysnap costituiranno una forma di garanzia. L’utente accetta di indennizzare e ritenere indenni Tastysnap, nonché le società sue consociate e affiliate, i suoi funzionari, agenti, dipendenti, inserzionisti licenziatari, fornitori o partner da qualsiasi obbligo risarcitorio verso terzi derivante da o in qualsiasi modo collegato all’utilizzo dei Servizi da parte dell’utente, da violazioni dei presenti Termini, da ogni altra azione collegata all’utilizzo di Tastysnap, incluse eventuali responsabilità o spese legali derivanti da qualsiasi richiesta di risarcimento, perdita, danno (diretto o indiretto), causa, sentenza, spese processuali e di consulenza legale, di qualsiasi tipo e natura. L’utente riconosce e accetta espressamente che Tastysnap e i partner non saranno responsabili nei suoi confronti per qualsiasi danno diretto, indiretto, incidentale, speciale o consequenziale, inclusi, a titolo esemplificativo, i danni per la perdita di profitti, avviamento, uso, dati o altre perdite derivante da o in qualsiasi modo collegato all’utilizzo dei Servizi offerti ovvero alla mancata disponibilità e/o funzionalità, e conseguentemente ad un eventuale mancato utilizzo dei Servizi, da parte dell’utente.
                            </li>
                        </ul>
                    </p>
                    
                    
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        
        <%- partial('../assets/partials/footer.html') %>
    </body>
</html>
