<footer>
<div class="row footer_top text-center"></div>
<div class="fluid-container">
    <div class="row footer_bottom">
        <div class="col-md-12">
            <div class="tasty_container">
                <div class="col-md-4 col-sm-4 col-xs-12 footer_items">
                    <div class="fluid-container">
                        <div class="col-md-12">
                            <img src="app_images/tastysnaplogo_full.png" class="footer_tasty_logo">
                            <h5>
                                                    Cosa stai cucinando? Tastysnap è il luogo<br/>
                                                    dove poter condividere le tue ricette e <br/>
                                                    scoprire nuove idee da preparare.
                                                </h5>
                            <br/>
                            <p>Copyright © 2016 Tastysnap.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 footer_items text-center">
                    <table style="margin:auto;">
                        <tr>
                            <td class="">
                                <h5>SEGUICI SU</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.facebook.com/tastysnap/">
                                    <i class="fa fa-facebook-f footer_social_icon" aria-hidden="true"> </i>
                                </a>
                                <a href="https://plus.google.com/100605702919224620387">
                                    <i class="fa fa-google-plus footer_social_icon" aria-hidden="true"></i>
                                </a>
                                <a href="https://twitter.com/TastySnapItalia">
                                    <i class="fa fa-twitter footer_social_icon" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:60px;"></td>
                        </tr>

                        <tr>
                            <td class="">
                                <h5>CONTATTI</h5>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="mailto:hello@tastysnap.com?Subject=Hello%20Tastysnap" target="_top">hello@tastysnap.com</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 footer_items">
                    <ul>
                        <li><a href="info" target="_self">Informazioni su Tastysnap</a></li>
                        <li><a href="terms" target="_self">Termini di Servizio</a></li>
                        <li><a href="privacy" target="_self">Informativa sulla privacy</a></li>
                        <li><a href="cookie" target="_self">Utilizzo dei cookie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>