<footer>
    
    <nav class="navbar navbar-inverted footer_con">
        <div class="container-fluid">
            <div class="tasty_container">
                    <p class="navbar-text navbar-left ">Copyright © 2016 Tastysnap</p>
                    <p class="navbar-text navbar-left"><a href="info" target="_self">Informazioni su Tastysnap</a></p>
                    <p class="navbar-text navbar-left"><a href="terms" target="_self">Termini di Servizio</a></p>
                    <p class="navbar-text navbar-left"><a href="privacy" target="_self">Informativa sulla privacy</a></p>
                    <p class="navbar-text navbar-left"><a href="cookie" target="_self">Utilizzo dei cookie</a></p>

                    <p class="navbar-text navbar-right">
                        <a href="https://www.facebook.com/tastysnap/" class="navbar-link">
                            <i class="fa fa-facebook-f fa-2x" aria-hidden="true"></i>
                        </a>
                    </p>

                    <p class="navbar-text navbar-right">
                        <a href="https://plus.google.com/100605702919224620387" class="navbar-link">
                            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                        </a>
                    </p>

                    <p class="navbar-text navbar-right">
                        <a href="https://twitter.com/TastySnapItalia" class="navbar-link">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                        </a>
                    </p>
            </div>
        </div>
    </nav>

</footer>