<!--  
    Navbar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid text-center">

        <!-- Toggle Menu Button -->
        <a class="navbar-btn top_menu_toggle_menu" ng-show="isLoggedIn()" id="menu-toggle" ng-click="toggleSidebar()">
            <p class="navbar-text glyphicon glyphicon-option-horizontal nav_bar_style"></p>
        </a>

        <!-- Search Bar -->
        <form method="GET" class="navbar-form navbar-left top_menu_form" role="search" action="app/search?q">
            <a href="app/search"><div class="glyphicon glyphicon-search pull-left top_menu_search_label"></div></a>
            <input type="text" name="q" ng-model="q" class="form-control pull-left top_menu_search_input top_menu_search" placeholder="Cerca"
            class="form-control" autocomplete="off">
        </form>
        
        <!-- Tastysnap Logo -->
        <a href="/app/home/most_recent">
            <img alt="TastySnap" src="app_images/beta_logo.png" class="tastysnap_logo">
        </a>

        <!-- DESTRA -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <!-- Notifiche -->
                <div uib-dropdown auto-close="outsideClick" keyboard-nav ng-show="isLoggedIn()" class="navbar-text top_menu_dropdown">
                    <a href="#" ng-hide="active" class="top_menu_notify_icon" uib-dropdown-toggle id="single-button3">
                        <div class="glyphicon glyphicon-bell top_menu_item"><span class="badge badge-notify" ng-init="num_notify=4" ng-hide="num_notify<=0">{{num_notify}}</span></div>
                    </a>
                    <ul uib-dropdown-menu class="top_menu_notify_dropdown" role="menu" aria-labelledby="single-button3">
                        <!--<li role="menuitem"><a href="#">Non ci sono nuove notifiche</a></li>-->

                        <!-- Header Notify -->
                        <li role="menuitem" class="menuitem_header clearfix">
                            <span class="pull-left"><b>Notifiche</b></span>
                            <span class="pull-right"><a href="#">segnala tutte come già lette</a></span>
                        </li>

                        <!-- Contenitore Notifiche -->
                        <div class="top_menu_notify_con">

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball active" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball active" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball active" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball active" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Separator + Notify-->
                            <li role="menuitem"><hr/></li>
                            <li role="menuitem">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object" src="{{ getUserProfileImage(currentUser) }}" alt="..."></a>
                                    </div>
                                    <div class="media-body clearfix">
                                        <div class="pull-left">
                                            <p class="media-heading"><b>{{ currentUser.name }}</b> ha creato le notifiche!</p>
                                        </div>
                                        <div class="pull-right">
                                            <a href="">
                                                <i class="fa fa-circle notify_ball" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </div>


                        <!-- Header Notify -->
                        <li role="menuitem"><hr/></li>
                        <li role="menuitem" class="clearfix menuitem_header">
                            <span class="pull-right"><a href="#">Mostra tutte</a></span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <!-- Profilo  -->
                <div uib-dropdown ng-show="isLoggedIn()" class="top_menu_dropdown">
                    <img alt="{{ currentUser.name }}" src="{{ getUserProfileImage(currentUser) }}" id="single-button" uib-dropdown-toggle class="top_menu_profile img-circle pull-right">
                    <ul uib-dropdown-menu class="top_menu_profile_dropdown" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/app/profile/{{ currentUser.id }}">Profilo</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="/login" ng-click="logOut()">Esci</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <!-- Accedi o registrati -->
                <p class="navbar-text" ng-hide="isLoggedIn()"><a href="/login" class="navbar-link">Accedi o registrati</a></p>
            </li>
        </ul>
        
    </div>
</nav>