<!--  
    Navbar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid text-center">

        <!-- Toggle Menu Button -->
        <a class="navbar-btn top_menu_toggle_menu" ng-show="isLoggedIn()" id="menu-toggle" ng-click="toggleSidebar()">
            <p class="navbar-text glyphicon glyphicon-option-horizontal nav_bar_style"></p>
        </a>

        <!-- Search Bar -->
        <form class="navbar-form navbar-left top_menu_form" role="search">
            <div class="glyphicon glyphicon-search pull-left top_menu_search_label"></div>
            <input type="text" ng-model="asyncSelected" class="form-control pull-left top_menu_search_input top_menu_search" placeholder="Cerca" uib-typeahead="recipe.title for recipe in getLocation($viewValue)"
            typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        </form>
        
        <!-- Tastysnap Logo -->
        <a href="/app/home/most_recent">
            <img alt="TastySnap" src="images/logo.png" class="tastysnap_logo">
        </a>
        
        <!-- Dropdown menu example  -->
        <div uib-dropdown ng-show="isLoggedIn()" class="top_menu_dropdown">
            <img alt="{{ currentUser.name }}" src="{{ getUserProfileImage(currentUser) }}" id="single-button" uib-dropdown-toggle class="top_menu_profile img-circle pull-right">
            <ul uib-dropdown-menu class="top_menu_profile_dropdown" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="/app/profile/{{ currentUser.id }}">Profilo</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="/login" ng-click="logOut()">Esci</a></li>
            </ul>
        </div>
        
        <!-- MENU -->        
		<a href="#" ng-hide="active" class="top_menu_notify_icon"><div class="glyphicon glyphicon-comment pull-right top_menu_item"><span class="badge badge-notify">42</span></div></a>
		<a href="#" ng-hide="active" class="top_menu_notify_icon"><div class="glyphicon glyphicon-bell pull-right top_menu_item"></div></a>
    </div>
</nav>