<!--  
    Navbar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<nav id="navbar" class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        
        <!-- Toggle Menu Button -->
        <a ng-show="isLoggedIn()" id="menu-toggle" ng-click="toggleSidebar()">
			<p class="navbar-text glyphicon glyphicon-option-horizontal nav_bar_style"></p>
		</a>

        <!-- Search Bar -->
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group col-xs-12">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" placeholder="Cerca ricette, raccolte, prodotti...">
            </div>
        </form>

        <div class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
          
          <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()">
                    <p class="navbar-btn">
                        <a href="dashboard/recipe_create" class="btn btn-warning" ng-click="toggleSidebar()">Crea ricetta <i class="fa fa-plus"></i></a>
                    </p>
                </li>
                <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                <li ng-hide="isLoggedIn()"><a href="/login">Log In</a></li>
                <li ng-hide="isLoggedIn()"><a href="/user/create">Register</a></li>

                <!-- Dropdown menu example  -->
                <li dropdown ng-show="isLoggedIn()"><a href="#" id="single-button" dropdown-toggle>Profilo e impostazioni <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="/login" ng-click="logOut()">Esci</a></li>
                  </ul>
              </li>

            </ul>
        </div>
      
    
    </div>
</nav>