<!--  
    Navbar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid text-center">
        <!-- Toggle Menu Button -->
        <a class="navbar-btn top_menu_toggle_menu navbar-toogle-btn" ng-show="isLoggedIn()" id="menu-toggle" role="button" ng-click="toggleSidebar()">
            <p class="navbar-text glyphicon glyphicon-option-horizontal nav_bar_style"></p>
        </a>

        <!-- Search Bar -->
        <form method="GET" class="navbar-form navbar-left top_menu_form" role="search" action="app/search?q">
            <a href="app/search">
                <div class="glyphicon glyphicon-search pull-left top_menu_search_label"></div>
            </a>
            <input type="text" name="q" ng-model="q" class="form-control pull-left top_menu_search_input top_menu_search" placeholder="Cerca"
                class="form-control" autocomplete="off">
        </form>

        <!-- Tastysnap Logo -->
        <a href="/app/most_recent">     
            <img alt="TastySnap" src="app_images/beta_logo.png" class="tastysnap_logo" uib-tooltip="Home" tooltip-placement="bottom">    
        </a>

        <!-- DESTRA -->
        <ul class="nav navbar-nav navbar-right">
            
            <li class="pull-right">
                <!-- Profilo  -->
                <div uib-dropdown ng-show="isLoggedIn()" class="top_menu_dropdown">
                    <div uib-dropdown-toggle class="top_menu_profile img-circle pull-right" back-img="{{ getUserProfileImage(currentUser) }}"></div>
                    <ul uib-dropdown-menu class="top_menu_profile_dropdown" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/app/profile/{{ currentUser.id }}">Profilo</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="/login" ng-click="logOut()">Esci</a></li>
                    </ul>
                </div>
            </li>
            <li class="pull-right" ng-hide="isLoggedIn()">
                <!-- Accedi o registrati -->
                <p style="margin: 0;"><a href="/login" class="btn btn-warning navbar-btn">Accedi o registrati</a></p>
            </li>
            <li class="pull-right">
                <!-- Notifiche -->
                <div uib-dropdown auto-close="outsideClick" keyboard-nav ng-show="isLoggedIn()" ng-controller="NotificationCtrl" class="navbar-text top_menu_dropdown"
                    on-toggle="toggled(open)">
                    <a href="#" ng-hide="active" class="top_menu_notify_icon" uib-dropdown-toggle id="single-button3" uib-tooltip="Notifiche" tooltip-placement="bottom" tooltip-append-to-body="true">
                        <div class="glyphicon glyphicon-bell top_menu_item"><span class="badge badge-notify" ng-hide="countNew()<=0">{{countNew()}}</span></div>
                    </a>
                    <ul uib-dropdown-menu class="top_menu_notify_dropdown" role="menu" aria-labelledby="single-button3">

                        <!-- Header Notify -->
                        <li role="menuitem" class="menuitem_header clearfix">
                            <span class="pull-left"><b>Notifiche</b></span>
                            <span class="pull-right" ng-hide="notifications.length==0"><a href="#" ng-click="setAllRed()">Segnala tutte come già lette</a></span>
                        </li>

                        <!-- Contenitore Notifiche -->
                        <div class="top_menu_notify_con">
                            <div  infinite-scroll="nextNotifications()" infinite-scroll-parent="true">
                                <!-- non ci sono notifiche -->
                                <div ng-show="notifications.length==0">
                                    <li role="menuitem">
                                        <hr/>
                                    </li>
                                    <li role="menuitem">
                                        <div class="media">
                                            <div class="media-body clearfix">
                                                <p class="media-heading">
                                                    <div class="row tasty_container text-center tasty_load_space">
                                                        Non ci sono notifiche da mostrare...
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </div>

                                <!-- stampo le notifiche -->
                                <notification ng-repeat="n in notifications | orderBy:'-createdAt'" notification="n"></notification>

                                <div ng-show='busy'>Loading data...</div>
                            
                            </div>
                        </div>

                        <div ng-hide="notifications.length==0">
                            <!-- Header Notify -->
                            <li role="menuitem">
                                <hr/>
                            </li>
                            <li role="menuitem" class="clearfix menuitem_header">
                                <span class="pull-right"><a href="#"></a></span>
                            </li>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>