<!--  
    Navbar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    navigation bar. Questa viene inclusa nel file .ejs che è l'entry-point per
    tutta la app.

-->

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Brand</a>
  </div>
    <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/user/create">Register</a></li>
        <li><a href="/app/tables">Tables</a></li>
    </ul>
</nav>