<!--  
    Sidebar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    side navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<!-- Sidebar header -->
<div class="sidebar-header header-cover" style="background-image: url({{currentUser.coverImageUrl}});">
    <div class="col-xs-12 text-center"> 
        <div class="darken_profile_photo sidebar-image" uib-tooltip="Visualizza profilo" tooltip-append-to-body="true">   
            <a href="app/profile/{{currentUser.id}}" class="text-center image-link">
                <div class="img-circle collection_profile_photo" back-img="{{ getUserProfileImage(currentUser) }}"></div>

                <h5><strong>{{currentUser.name}} {{currentUser.surname}}</strong></h5>
            </a>
        </div>
    </div>
    
    <div class="col-xs-6 text-center">
        <a href="/app/profile/{{currentUser.id}}/following" class="link">
            {{currentUser.followingCount}} <br/> <span>FOLLOWING</span>
        </a>
    </div>
    <div class="col-xs-6 text-center">
        <a href="/app/profile/{{currentUser.id}}/followers" class="link">
            {{currentUser.followersCount}} <br/> <span>FOLLOWERS</span>
        </a>
    </div>
    <div class="col-xs-6 text-center">
        <a href="/app/profile/{{currentUser.id}}" class="link">
            {{currentUser.recipesCount}} <br/> <span>RICETTE</span>
        </a>
    </div>
    <div class="col-xs-6 text-center">
        <a href="/app/profile/{{currentUser.id}}/collections" class="link">
            {{currentUser.collectionsCount}} <br/> <span>RACCOLTE</span>
        </a>
    </div>

    <div class="sidebar_profile_gradient"></div>
</div>

<!-- Sidebar navigation -->
<ul class="nav sidebar-nav">
    <a href="/app/recipe_create" class="btn btn-warning btn-circle btn-lg sidebar_create_recipe"  uib-tooltip="Crea ricetta">
        <i class="fa fa-pencil"></i>
    </a>
    <li>
        <span>MENU PRINCIPALE</span>
    </li>
    <!--
    <li>
        <a href="/app/recipe_create">
            Nuova Ricetta
            <i class="fa fa-pencil sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    -->
    <li ng-class="{'active': getCurrentState().indexOf('app.home') > -1}">
        <a href="/app/home/most_recent">
            Home
            <i class="fa fa-home sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.activites') > -1}">
        <a href="/app/activites">
            Attività
            <i class="fa fa-users sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.near_recipes') > -1}">
        <a href="/app/near_recipes">
            Nelle Vicinanze
            <i class="fa fa-globe sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.viewed_recipes') > -1}">
        <a href="/app/viewed_recipes">
            Ricette Viste
            <i class="fa fa-eye sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <span>I TUOI GUSTI</span>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.favorite_recipes') > -1}">
        <a href="/app/favorite_recipes">
            Ricette Preferite
            <i class="fa fa-heart sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.followed_collections') > -1}">
        <a href="/app/followed_collections">
            Raccolte che segui
            <i class="fa fa-th sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li ng-class="{'active': getCurrentState().indexOf('app.tasted_recipes') > -1}">
        <a href="/app/tasted_recipes">
            Ricette Provate
            <i class="fa fa-cutlery sidebar-badge" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <span>Versione BETA</span>
    </li>
    <!--
        <div class="sidebar_footer">Versione BETA</div>
    -->
</ul>