<!--  
    Sidebar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    side navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav sidebar">
        <div class="sidebar-profile">
            <div class="col-xs-12" align="center">
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle center-block" />
                <br/> Anna Rossi
                <br/>
                <span>FABRIANO</span>
            </div>
            <div class="col-xs-6">
                <a href="#" class="link">
            45 <br/> <span>FOLLOWING</span>
          </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="link">
            377 <br/> <span>FOLLOWERS</span>
          </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="link">
            22 <br/> <span>RICETTE</span>
          </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="link">
            8 <br/> <span>RACCOLTE</span>
          </a>
            </div>
        </div>
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>
        <li class="sidebar-title"><span>PRINCIPALE</span></li>
        <li class="sidebar-list">
            <a href="/dashboard/home">Home <span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Attività <span class="menu-icon fa fa-users"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Nelle vicinanze <span class="menu-icon fa fa-globe"></span></a>
        </li>
        <li class="sidebar-title"><span>I TUOI GUSTI</span></li>
        <li class="sidebar-list">
            <a href="#">Ricette preferite<span class="menu-icon fa fa-heart"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Ricette viste <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Raccolte che segui <span class="menu-icon fa fa-th"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Ricette provate <span class="menu-icon fa fa-cutlery"></span></a>
        </li>
    </ul>
</div>