<!--  
    Sidebar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    side navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<div id="sidebar-wrapper">
  <div class="inner">

  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        Dashboard
        <span class="menu-icon fa fa-bars"></span>
      </a>
    </li>
    <div class="sidebar-profile">
        <div class="col-xs-12" align="center">
              <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle center-block"/> 
              <br/>
              Anna Rossi
              <br/>
              <span>FABRIANO</span>
        </div>
        <div class="col-xs-6">
          <a href="#" class="link">
            45 <br/> <span>FOLLOWING</span>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="link">
            377 <br/> <span>FOLLOWERS</span>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="link">
            22 <br/> <span>RICETTE</span>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="link">
            8 <br/> <span>RACCOLTE</span>
          </a>
        </div>
    </div>
    <li class="sidebar-title"><span>PRINCIPALE</span></li>
    <li class="sidebar-list">
      <a href="/dashboard/home">Home <span class="menu-icon fa fa-home"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard/tables">Attività <span class="menu-icon fa fa-users"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard/tables">Nelle vicinanze <span class="menu-icon fa fa-globe"></span></a>
    </li>
    <li class="sidebar-title"><span>I TUOI GUSTI</span></li>
    <li class="sidebar-list">
      <a href="/dashboard/index2">Ricette preferite <span class="menu-icon fa fa-heart"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard/tables">Ricette viste <span class="menu-icon fa fa-eye"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard/tables">Raccolte che segui <span class="menu-icon fa fa-th"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard/tables">Ricette provate <span class="menu-icon fa fa-cutlery"></span></a>
    </li>
  </ul>

</div>

  

  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>