<!--  
    Sidebar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    side navigation bar. Questa viene inclusa dall'applicazione angular tramite il suo router.

-->

<!-- Sidebar -->
<div id="sidebar-wrapper" ng-controller="SideBarCtrl">
    <ul class="sidebar-nav sidebar">
        <div class="sidebar-profile">
            <div class="col-xs-12" align="center">
                <a href="/app/profile/{{currentUser.id}}" class="link">
                    <img src="{{ getUserProfileImage(currentUser) }}" class="image-circle center-block" />
                
                    <br/> {{ currentUser.name }} {{ currentUser.surname }}
                    <br/>
                </a>
                <span>FABRIANO</span>
            </div>
            <div class="col-xs-6">
                <a href="/app/profile/{{currentUser.id}}/following" class="link">
                    {{currentUser.followingCount}} <br/> <span>FOLLOWING</span>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="/app/profile/{{currentUser.id}}/followers" class="link">
                    {{currentUser.followersCount}} <br/> <span>FOLLOWERS</span>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="/app/profile/{{currentUser.id}}" class="link">
                    {{currentUser.recipesCount}} <br/> <span>RICETTE</span>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="/app/profile/{{currentUser.id}}/collections" class="link">
                    {{currentUser.collectionsCount}} <br/> <span>RACCOLTE</span>
                </a>
            </div>
        </div>
        
        <a href="/app/recipe_create" class="btn btn-warning btn-circle btn-lg sidebar_create_recipe">
            <i class="fa fa-pencil"></i>
        </a>
        
        <div style="width: 100%; height: 15px;"></div>
  

        <li class="sidebar-title"><span>PRINCIPALE</span></li>
        <li class="sidebar-list">
            <a href="/app/home/most_recent" ng-class="{'active': getCurrentState().indexOf('app.home') > -1}">Home <span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#">Attività <span class="menu-icon fa fa-users"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/app/near_recipes" ng-class="{'active': getCurrentState().indexOf('app.near_recipes') > -1}">Nelle vicinanze <span class="menu-icon fa fa-globe"></span></a>
        </li>
        <li class="sidebar-title"><span>I TUOI GUSTI</span></li>
        <li class="sidebar-list">
            <a href="/app/favorite_recipes" ng-class="{'active': getCurrentState().indexOf('app.favorite_recipes') > -1}">Ricette preferite<span class="menu-icon fa fa-heart"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/app/viewed_recipes" ng-class="{'active': getCurrentState().indexOf('app.viewed_recipes') > -1}">Ricette viste <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/app/followed_collections" ng-class="{'active': getCurrentState().indexOf('app.followed_collections') > -1}">Raccolte che segui <span class="menu-icon fa fa-th"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/app/tasted_recipes" ng-class="{'active': getCurrentState().indexOf('app.tasted_recipes') > -1}">Ricette provate <span class="menu-icon fa fa-cutlery"></span></a>
        </li>
        
        <div class="sidebar_footer">Versione BETA</div>
        
    </ul>
</div>