<!--  
    Sidebar
    ==============================
    
    Su questo file è contenuta una parte parziale di una applicazione angular: la 
    side navigation bar. Questa viene inclusa nel file .ejs che è l'entry-point per
    tutta la app.

-->

<div id="sidebar-wrapper">

  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        Dashboard
        <span class="menu-icon fa fa-bars"></span>
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
      <a href="#/index2">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
    </li>
  </ul>

  <div class="sidebar-profile">
    <div class="col-xs-12" align="center">
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle"/> 
            <br/>
            Anna Rossi
            <br/>
            <span>FABRIANO</span>
    </div>
    <div class="col-xs-6">
      <a href="#">
        45 <br/> <span>FOLLOWING</span>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="#">
        377 <br/> <span>FOLLOWERS</span>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="#">
        22 <br/> <span>RICETTE</span>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="#">
        8 <br/> <span>RACCOLTE</span>
      </a>
    </div>
  </div>

  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>