/**
 * Custom card_style.css
 *
 * Matteo Bolognesi
 *
 * 
 */
#contenitore_centro_schermo{
	width:100%;
	height:100%;
}

.posizione_nello_schermo_es{
	float:left;
	margin:20px;	
}

.card{
	width: 234px;
    height: 378px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.cont_card_img{
	position:relative;
}

.card:hover .card_share{
	display:block;
}

.card_share{
	width:100%;
	height: 232px;
	background-color:rgba(0,0,0,0.5);
	color:white;
	display:none;
	position:absolute;
	top:0;
	left:0;
}

.card_img{
	width:100%;
	height: 232px;
	background-size:cover;
	background-position:50% 50%;
}

.card_info{
	width:100%;
	height:146px;
	background-color:#423B00;
	color:white;
	padding: 10px 12px 0 12px;
	overflow: hidden;
	position: relative;
}

.gly_share_size{
	font-size: 3.8em;
	cursor:pointer;
}

.cont_row_share{
	margin-top:60px;
}

.card_background1{background-color:#423B00; color:white;}
.card_background2{background-color:#212121; color:white;}
.card_background3{background-color:#BB5906; color:white;}
.card_background4{background-color:#2D130F; color:white;}
.card_background5{background-color:#E5B049; color:black;}
.card_background6{background-color:#004D03; color:white;}
.card_background7{background-color:#920E0E; color:white;}
.card_background8{background-color:#291B1C; color:white;}

.card_info1{
	font-size: 0.7em;
}

.card_info2{
	font-size: 0.81em;
	margin-top: 4px;
	word-wrap: break-word;
}

.card_info3{
	font-size:1em;
	word-wrap: break-word;
}

.card_info4{
	bottom: 0;
    position: absolute;
    margin-bottom: 10px;
	cursor:pointer;
}

.img_profile_card{
	width:27px;
	margin-right: 5px;
}

.name_profile_card{
	font-size: 0.8em;
}