/*
 * Custom toastr.css
 * Mariusz Wiazowski
 *
 * Fogli di stile usati principalmente per personalizzare l'aspetto
 * dei messaggi toast.
 *
 * https://github.com/Foxandxss/angular-toastr
 * 
 */
 
.toast-top-center {
  top: 50px;
  right: 0;
  width: 100%;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  margin-top: 10px;
}

.toast-black {
    background-color: black;
}

.toast-white {
    background-color: white;
    color: black;     
}

.toast-white .toast-title {
  color: black;
}

.toast-white .toast-message {
  color: black;
}