
.center_div {
  margin: 0 auto;
  max-width: 330px;
  width: 90%;
}

.input-group-addon {
    min-width: 50px;
    text-align: left;
}


/*
 * Signin.css
 * Mariusz Wiazowski
 *
 * Fogli di stile usati principalmente nella pagina per il login e la registrazione.
 * Fonte "http://getbootstrap.com/examples/signin/"
 * 
 */

