
/*
* Matteo Bolognesi
*/

/*
*   -- 1. GENERAL STYLE (style generico per tutte le pagine)
*   -- 2. NAVBAR (menu in alto)
*   -- 3. LOGIN (style della pagine del login)
*   -- 4. CARD STYLE (card style)
*   -- 5. COLLECTION CARD STYLE (quadrato che racchiude una collection)
*   -- 6. COLLECTION (pagina della collection)
*   -- 7. PERONAL PROFILE (stile della pagina dell'utente)
*   -- 8. HOME LOADED (home, quando l'utente è loggato)
*   -- 9. RECIPE (stile della ricetta)
*   -- 10.PERSONAL CARD (card profili delle persone)
*   -- 11.CREAETE RECIPE
*   -- 12.MODAL - aggingi card alla raccolta + crea raccolta
*   -- 13.MODAL - condividi una ricetta
*   -- 14.GOOGLE MAPS
*   -- 15.SEARCH
*   -- 16.FOOTER
*/

/* ------------------------------------------------------------   1    ------------------------------------------------------ */
/* --------------------------------------------------    OPPA GANGNAM STYLE (GENERAL) --------------------------------------- */

body {
	padding-top: 50px;
	background-color:#282828;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.no-padding{padding:0 !important;}

.no-margin{margin:0 !important;}

.no-border{border:0;}

.no-border-radius{border-radius: 0px;}

.tasty_container{
	width:100%;
	max-width:1024px;
	margin:auto;
}

.tasty_container_margin{
	margin-top:40px;
}

.tasty_icon{
    cursor:pointer;
    
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sidebar_footer{
    position: absolute;
    bottom: 60px;
    color: #ff9800;
}

.sidebar_profile_gradient{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.75) 98%);
    /*position: absolute;*/
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.tasty_icon_default{
    color: inerith;
    
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tasty_icon:hover{
    color: #ff9800;
}

.tasty_icon_active{
    color: #ff9800;
}

.tasty_load_space{
	margin:30px auto 30px auto;
}

.tasty_title_category{
	color: white;
}

.tasty_title_bar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tasty_title_text{
	margin-top: 3px;
    font-weight: 700;
    font-size: 2.1em;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a{
    color: inherit;
    text-decoration: none;
    
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover{
    color: #ff9800;
    text-decoration: none;
}

/* --------------------------------------------------------------- 2 ---------------------------------------------------- */
/* ------------------------------------------------------------- NAVBAR ------------------------------------------------- */

.top_menu_toggle_menu{
    float: left;
    margin: 0;
}

.top_menu_form{
    margin: 0;
    padding: 0;
    border: 0;    
}

.tastysnap_logo{
	width:42px;
	left: calc(50% - 29px);
	position: absolute;
	top: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.top_menu_profile{
	width: 42px;
    cursor: pointer;
    margin-top: 4px;
}

.top_menu_item{
	color: white;
    font-size: 1.2em;
    margin: 20px 20px auto 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top_menu_search_label{
	color: white;
    font-size: 2em;
    padding: 11px;
}

.top_menu_search_input{
	width: 275px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
	outline:none !important;
	color: white;
    font-size: 2em;
}

@media only screen and (max-width : 750px){
	.top_menu_search_input{width: 175px;}
	.top_menu_item{margin: 20px 10px auto 10px;}
}

@media only screen and (max-width : 510px){
	.tastysnap_logo{
		left: 85px;
	}
	
	.top_menu_search{
		display:none;
	}
}

.top_menu_search_input:focus {   
	border-color: transparent;
	box-shadow: none;
	outline: 0 none;
}

.top_menu_search_input::-webkit-input-placeholder {
	color: white;
}

.top_menu_search_input:-moz-placeholder { /* Firefox 18- */
	color: white;
	font-size: 2em;
}

.top_menu_search_input::-moz-placeholder {  /* Firefox 19+ */
	color: white;
	font-size: 2em;
}

.top_menu_search_input:-ms-input-placeholder {  
	color: white;
	font-size: 2em;
}

 /* example */
.dropdown-menu_tasty{
	left:50% !important;
	top: 48px;
}

.top_menu_profile_dropdown{
	max-width: 200px;
	right: 0 !important;
	left: inherit;
	top: 48px;
	text-align:right;
}

.top_menu_message_dropdown{
	right: 0 !important;
	left: inherit;
	top: 48px;
	text-align:right;
}

.top_menu_notify_dropdown{
    right: 5% !important;
    left: inherit;
    top: 48px;
    text-align: right;
}

.badge-notify{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: red;
    position: relative;
    top: -15px;
    left: -12px;
    width: 23px;
    padding: 2px 1px 5px 1px;
}

/* classi da dare, quando l'utente preme il pulsante per ricercare, ma solo se siamo sul mobile */


/* da dare alla classe: .tastysnap_logo */
.tastysnap_logo_mobile{
    left:auto;
    right:5px;
}

/* da dare alla classe: .top_menu_notify_icon */
.top_menu_notify_icon_mobile{
    display: none;
}

/* da dare alla classe: .top_menu_dropdown */
.top_menu_dropdown_mobile{
    display: none;
}

/* da dare alla classe: .top_menu_search */
.top_menu_search_mobile{
    display: block;
    width:calc(100% - 110px);
}



/* ---------------------------------------------------------------   3    ------------------------------------------------ */
/* -------------------------------------------------------------   LOGIN ------------------------------------------------- */

.login_container{
	width:100%;
	max-width:500px;
	height:400px;
	margin-top:200px;
}

.login_brand{
	width:100%;
	max-width:280px;
}

.login_privacy{
	color: white;
	max-width: 220px;
    margin: 20px auto;
}

.login_privacy a{
	color: #FF8E2A;
}

.social-buttons {
    max-width: 220px;
    margin: auto;
}

.btn-social{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_footer{
	width:100%;
	position: absolute;
    bottom: 0;
    color: white;
	text-align:center;
}

.login_footer_item{
	margin: auto 5px auto 5px;
    display: -webkit-inline-box;
    padding: 3px;
	font-weight:700;
}

.login_body{
	background-size:cover;
	padding:0;
}

@media only screen and (max-width : 750px) {
	.login_container{
		margin-top:100px;
	}
	
	.login_footer{
		position: relative;
	}
}

@media only screen and (max-height : 563px){	
	.login_footer{
		position: relative;
	}
}

@media only screen and (max-width : 400px) {
	.login_footer_item{
		width:97%;
		display:block;
	}
	
	.login_footer_item_divider{
		display:none;
	}
}

/* ----------------------------------------------------------------- 4 ------------------------------------------------------ */
/* ------------------------------------------------------------- CARD STYLE ------------------------------------------------- */

.card{
	width: 233px;
    height: 376px;
    margin: 7.5px;
    position: relative;
    display: inline-flex;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.card_container_img{
    position:relative;
}

.card_img{
	width: 100%;
    height: auto;
    padding-bottom: 100%;
    background-size: cover;
    background-position: 50% 50%;
	background-image: url("imm/thai_tb.jpg"); /* example */
}

.cont_card_img{
	position:relative;
}

.card:hover .card_share{
    opacity: 1;
    background-color:rgba(0,0,0,0.7);
}

.card_share{
	width: 100%;
    height: 100%;
	color:white;
	position:absolute;
	top:0;
	left:0;
    opacity: 0;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gly_share_size{
	font-size: 3.8em;
	cursor:pointer;
}

.cont_row_share{
	margin-top:60px;
	position: absolute;
	z-index: 3;
	width: calc(100% - 30px);
}

.card_info{
	width: 100%;
	height: 100%;
	background-color: #62231D; /* example */
}

.color_caption{
	padding: 12px !important;
}

.card_link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.recipe_profile_row{
    height: 35px;
}

.card_link_profile{
    position:absolute;
    z-index:2;
    width:100%;
    left:0;
}

.card_icon{
	font-size: 0.85em;
    margin-right: 5px;
}

.card_title{
	height:36px;
	font-weight:700;
	text-align: left;
}

.card_title A{
   color:white;
}

.card_title A:hover{
    text-decoration:none;
    color:white;
}

.card_reach{
	text-align: left;
	margin: 10px auto 5px auto;
}

.card_profile_photo{
	width: 35px;
}

.card_profile_name{
	margin-left: 7px;
    margin-top: 2px;
}

.card_profile_name A H6{
    color:white;
}

.card_profile_name A:hover{
    text-decoration:none;
}

.card_premium{
	position: absolute;
	top:0;
	right:0;	
	width : 0;
	height : 0;
	border-top : 60px solid #FF8E2A; 
	border-left : 60px solid transparent;
}

.card_premium_1{
	position: absolute;
	top:0;
	right:0;
	font-size: 2em;
	color: #FF8E2A;
}

.card_premium_2{
	width:35px;
	height:35px;
	background-image:url("tastysnaplogo.png");
	background-size:cover;
	position: absolute;
	top:0;
	right:0;
}

@media only screen and (max-width : 546px) {
	.card{
		width:90%;
		height:auto;
	}
}

/* ----------------------------------------------------------------------- 5 ----------------------------------------------------------- */
/* ------------------------------------------------------------- COLLECTION CARD STYLE ------------------------------------------------- */

.card_collection{
	height:200px;
}

.card_collection_ex_1{
	background-image:url("imm/sushi_tb.jpg");
	background-size:cover;
}

.box{
    position: relative;
	margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
	width: calc(33.3% - 20px);
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
}

.card_collection_content_bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size:cover;
}

.card_collection_content_bg2{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size:cover;
	background-position:50%;
}

.card_collection_content_bg_1_4{
	height:50%;
	width:50%;
	float:left;
	background-size: cover;
    background-position: 50%;
}

.collection_card_gradient{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.card_collection_content{
	position:absolute;
	width: calc(100% - 30px);
	z-index: 2;
}

.collection_card_title{
	color:white; /* example */
    position: absolute;
    bottom: 46px;
    width: 100%;
    text-align: left;
	font-weight: 700;
    font-size: 1.3em;
}

.collection_card_profile{
	width: 100%;
	position:absolute;
	bottom: 10px;
}

.collection_card_info {
    position: absolute;
    right: 15px;
    bottom: 0px;
    color: white;
}

.collection_card_profile_photo{
	width: 35px;
}

.collection_card_profile_name{
	color:white; /* example */
	margin-left: 7px;
    margin-top: 2px;
}

.collection_card_info_item{
	font-size: 11px;
	margin-left: 5px;
    margin-right: 5px;
}

.collection_card_info_item_count{
	margin-left:2px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
}

@media only screen and (max-width : 820px){
	.box{
		width: calc(50% - 20px);
	}
}

@media only screen and (max-width : 528px){
	.box{
		width: 90%;
		margin: 5% 5% 0 5%;
	}
}

/* --------------------------------------------------------------------- 6 -------------------------------------------------------- */
/* ------------------------------------------------------------- COLLECTION STYLE ------------------------------------------------- */

.collection_profile_photo{
	width:50px;
}

.collection_div_profile_name{
    color: white !important; /* example */
    margin-left: 10px;
    margin-top: 5px;
}

.collection_profile_edited{
	font-size: 11px;
}

.collection_title{
	color:white; /* example */
}

.collection_info_item{
	color:white; /* example */
	margin-left:5px;
	margin-right:5px;
}

.collection_info_item_count{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:white; /* example */
	margin-left:5px;
	margin-right:5px;
}

.collection_main_info{
	text-align:left;
	margin-top: 5px;
    margin-bottom: 5px;
}

.collection_gradient{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.65) 100%);
    position: absolute;
    width: 100%;
    height: 500px;
    top: -50px;
    left: 0;
    z-index: 0;
}

/* ------------------------------------------------------------------------ 7 ----------------------------------------------------------- */
/* ------------------------------------------------------------- PERSONAL PROFILE STYLE ------------------------------------------------- */


.tasty_container_profile_margin{
    margin-top: 15px;
}

.prof_personal_header{
	height: 450px;
	position: relative;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	color: white; /* example */
    
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.prof_personal_header_gradient{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65) 98%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.prof_personal_info{
    top: 100px;
	left: 0px;
    right: 0px;
    position: absolute;
    z-index: 2;
    text-shadow: 0 0 25px #000000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.prof_personal_cover_change_button{
    top: 15px;
	left: 0px;
    right: 0px;
    position: absolute;
    z-index: 2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.prof_personal_cover_change_button .btn-link:focus, .btn-link:hover{
    text-decoration: none;
    color: #ff9800;
}

.prof_personal_cover_change_button .btn-link{
    color:white;
    text-shadow: 0 0 15px #000000;
}

.prof_personal_info_item{
	margin: 3px 0 3px 0; 
}

.profile_menu{
	width:100%;
	position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
}

.profile_photo{
	width: 100px;
}

.profile_button_item{
    width: 120px;
    margin: auto 10px auto 10px;
    text-align: center;
	display: inline-flex;
}

.profile_button_item span{
	margin:auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.profile_button_item A{
    text-align: center;
    width: 100%;
}

.profile_button_item A:hover{
    text-decoration:none;
}

.profile_button_item A span{
    color:white;
}

.profile_button_item.active{
	border-bottom:1px solid darkorange;
}

@media only screen and (max-width : 1024px) {
	.prof_personal_header {
        height: 300px;
    }
    
    .prof_personal_info{
	   top: 30px;
    }
}

@media only screen and (max-width : 600px) {
	.profile_button_item{
		width: 70px;
	}
}

@media only screen and (max-width : 400px) {
	.prof_personal_info{
		top:5px;
	}
	
	.profile_button_item span{
		font-size:0.8em;
	}
}


/* ---------------------------------------------------------------------- 8 --------------------------------------------------------- */
/* ------------------------------------------------------------- HOME LOADED PERSON ------------------------------------------------- */

.home_body{
	padding-top: 102px;
}

.home_navbar{
	top: 50px;
	z-index: 3;
    background-color: rgba(0,0,0,0.4);
    border-color: transparent;
    text-align: center;
}

.home_navbar_item>a{
	color:white;
	border-bottom:1px solid transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.home_navbar_item:hover>a{
	color:white;
	border-bottom:1px solid #FF8E2A;
}

li.home_navbar_item {
    text-align: center;
    margin: auto;
    float: none;
    display: -webkit-inline-box;
}

ul.home_navbar{
	text-align: center;
    width: 100%;
}

.home_navbar_item_active>a{
	color:white !important;
	border-bottom:1px solid #ff9800;
}

/* --------------------------------------------------------------- 9 ---------------------------------------------------- */
/* ------------------------------------------------------------- RECIPE ------------------------------------------------- */

.recipe_body{
    background: url("imm/spiedini_blur.jpg") no-repeat center center fixed; /* example */
	background-size:cover;
	padding:0;
}

.recipe{
    width: 100%;
	background: #E7E5E6;
	margin: 60px auto 40px auto;
    
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_col_8 {
	background-color: white;
    color: black;
	width: calc(66.66666667% - 20px);
    margin: 10px 10px 0 10px;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_col_4{
	background-color: #151515; /* example */
	color:white; /* example */
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_generic_con{
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_generic_con:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.57);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.57);
}

.recipe_sub_title{
    font-size: large;
    margin: 15px 0 15px 0px;
}

.recipe_sp_1{
	padding-top:10px;
}

.recipe_sp_1_1>span{
	color: #635A57;
    font-size: 0.8em;
    margin-right: 10px;
}

.recipe_sp_1_2 {
	width:100%;
	float:left;
}

.recipe_sp_1_3 {
	width:100%;
	float:left;
	margin-top: 15px;
    margin-bottom: 15px;
}

.recipe_sp_2_1{
    width: 100%;
	height: auto;
    padding-top: 100%;
    background: url("imm/spiedini_tb.jpg") no-repeat center center;
    background-size: cover;
}

.recipe_sp_2_2 {
    text-align: center;
    padding: 20px;
}

.recipe_sp_2_2_icon{
	font-size: 1.2em;
    margin: 0 5px 0 5px;
}

.recipe_sp_2_2_table{
	width: 100%;
}

.recipe_sp_3_title{
	text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.recipe_sp_3_table{
	width:100%;
}

tr.recipe_sp_3_tr{
    height: 35px;
}

.recipe_sp_3_val_nut_sec {
    padding-left: 20px;
}

.recipe_profile_photo{
	width:50px;
	color:black;
}

.recipe_div_profile_name{
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

.recipe_sp_spons_con{
	border-top: 1px solid white;
    padding-top: 8px;
}

.recipe_sp_spons{
    margin: 15px 0 20px 0;
}

.recipe_ing_con{
	min-height: 164px;
}

.recipe_ing_txt {
    font-size: small;
    color: gray;
}

.recipe_ing_txt A{
    color: gray;
}

.recipe_comment_con{
	padding-bottom: 20px;
}

.recipe_comment_input{
	height:50px;
}

.recipe_comment_photo{
	width: 50px;
}

.recipe_comment_sub_photo{
	width: 40px !important;
}

.recipe_comment_reply A {
    font-size: 0.85em;
    color: gray;
}

.recipe_comment_reply > A > i {
    font-size: 1.1em;
    color: gray;
	margin: 0 2px 0 2px;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_comment_txt{
	margin-bottom:2px;
}

.recipe_comment_reply > i:hover{
	color:black;
}

.recipe_comment_when{
	color: gray;
	font-size: smaller;
}

.recipe_title_bar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_title_text{
	color:white;
	margin-top: 3px;
    font-weight: 700;
    font-size: 2.1em;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_span_pointer{
    cursor:pointer;
}

.recipe_prep_step{
    background-color: #dedede;
    color: white;
    width: 45px;
    height: 45px;
    text-align: center
}

.recipe_comment_delete{
    position:absolute;
    right: 20px;
    opacity:0;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.media-body:hover .recipe_comment_delete{
    color:black;
    opacity:1;
}

.recipe_rating_con:hover .recipe_rating_2{
    display: block;
}

.recipe_rating_con:hover .recipe_rating_1{
    display: none;
}

.recipe_rating_1{
    display: block;
}

.recipe_rating_2{
    display: none;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  font-size: 16px;
  /* direction: rtl; */
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ff9800;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

@media screen and (min-width: 768px){
	.recipe_col_8{
		float: right;
	}
}

/* ricetta responsive */
@media screen and (max-width: 767px){
	.recipe_col_8{
		width: auto;
		margin:0;
	}
	
	.recipe_col_4{
		padding-bottom: 15px;
	}
	
	.recipe{
		max-width:500px;
	}
	
	.recipe_sp_2_2_table {
		margin: auto;
	}
	
	.recipe_generic_con{
		-webkit-box-shadow: 0px 0px 0px 0px;
		-moz-box-shadow:     0px 0px 0px 0px;
		box-shadow:          0px 0px 0px 0px;
	}
	
	.recipe_sp_spons_title{
		float:left;
		width:100%;
		text-align:center;
	}
    span.recipe_sp_spons_title{
        color:white !important;
    }
	.recipe_sp_3{
		width:50%;
		float:left;
		margin-top:7.5px;
	}
	
	.recipe_sp_3_title{
		font-weight:700;
	}
	
	.recipe_sp_4{
		width: 50%;
		float:right;
		padding:15px;
	}
	
	.recipe_sp_spons{
		float: left;
		width: 50%;
		padding: 7.5px;
	}
	
	.recipe_sp_spons_con{
		border-top: 0px solid;
		padding-top: 8px;
	}
}

@media screen and (max-width: 480px){
	.recipe_sp_4{
		width: 100%;
		float:none;
	}
	
	.recipe_sp_3{
		width:auto;
		float:none;
		margin:auto;
	}
	
	.recipe_sp_spons{
		float: left;
		width: 100%;
		padding: 0px;
	}
	
	.recipe_ingredient{
		width:100%;
	}
}


/* ------------------------------------------------------------------ 10 -------------------------------------------------------- */
/* ------------------------------------------------------------- PERSONAL CARDS ------------------------------------------------- */

.profile_card{
    padding: 15px 0 15px 0;
}

.profile_card_img{
    width:90px;
    height:90px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile_card_name{
    margin-top: 15px;
    color: white;
    font-size: 1.2em
}

/* ------------------------------------------------------------------ 11 -------------------------------------------------------- */
/* ------------------------------------------------------------- CREATE RECIPE -------------------------------------------------- */

.c_recipe_row{
    background-color: #dedede;
    margin:0;
    
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.c_recipe_left{
    text-align:right;
    color:black;
}

.c_recipe_right{
    background-color:white;
    padding-bottom: 30px;
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
}

/* Default class applied to drop zones on over */
.nv-file-over { 
    border: dotted 3px red; 
}

.recipe_creating_message{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 700px;
    color: white;
    text-align: center;
    top: 100px;
}

.recipe_creating_message_gear{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.recipe_create_add_photo_icon{
    font-size: 80px;
    color: #DADADA;
}

.recipe_create_add_photo_box{
    background-color:white;
}

.recipe_create_add_ingredient_box{
    background-color:white;
}

.recipe_create_ingredient_required{
    color: gray;
    font-size: 0.9em;
    font-style: inherit;
}

#myCanvas{
    width:100%;
    max-width: 425px
}

.recipe_create_button_remove{
    position:absolute;
    top:2%;
    right:9%;
	
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.recipe_create_page_header{
    font-size: 50px;
    color: #dedede;
    
}

.recipe_create_description{
    font-size: 87%;
    color: #635A57;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.recipe_create_ingredient_close{color:black;}
.recipe_create_ingredient_close:hover{
    text-decoration: none;
}

@-moz-keyframes spin {100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media screen and (max-width: 991px){
    .c_recipe_row{
        background-color: white;
    }
    
    .c_recipe_right{
        text-align: center !important;
    }
    
    .c_recipe_left{
        text-align: center !important;
        margin-bottom: 15px;
    }
	
	.recipe_create_min_table{
		margin:auto;
	}
	
	.recipe_container{
		max-width:700px;
	}
}

/* ------------------------------------------------------------------ 12 -------------------------------------------------------- */
/* ---------------------------------------------------- MODAL ADD CARD IN COLLECTION -------------------------------------------- */

.modal-add-recipe-to-collection{
    width:700px;
}

.modal-add-recipe-to-collection_img{
    background-image: url('http://www.tastysnap.com/preview/imm/thai_tb.jpg');
    width: 64px;
    height: 64px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.modal-add-recipe-to-collection_input_text{
    max-width:100%;
    margin: 5px 0 5px 0;
}

.modal-add-recipe-to-collection_panel{
    margin-top:15px;
}

.modal-add-recipe-to-collection_media_con{
    overflow-y: scroll;
    height: 300px;
}

.modal-add-recipe-to-collection_media{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top: 1px solid rgb(233, 233, 233);
}

.modal-add-recipe-to-collection_title{
    margin-top:14px;
}

.modal-add-recipe-to-collection_media_add{
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-add-recipe-to-collection_add{
	font-size:2.5em;
	width: 64px;
	text-align: center;
	height: 44px;
	padding-top: 8px;
}

/* ------------------------------------------------------------------ 13 -------------------------------------------------------- */
/* ---------------------------------------------------------- MODAL SHARE COLLECTION -------------------------------------------- */

.modal-share-collection{
    width: 700px;
}

.modal-share-collection_row{
    margin: 5px -15px 5px -15px;
}

.modal-share-collection_media{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-top: 1px solid rgb(233, 233, 233);
}

.modal-share-collection_img{
    width: 40px;
    height: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.modal-share-collection_title{
    margin-top:10px;
    font-size: 15px
}

@media screen and (max-width: 720px){
	.modal-add-recipe-to-collection{
        width: 90%;
    }
}

/* ------------------------------------------------------------------ 14 -------------------------------------------------------- */
/* -------------------------------------------------------------- GOOGLE MAPS --------------------------------------------------- */

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100vh;
}

/* ------------------------------------------------------------------ 15 -------------------------------------------------------- */
/* ---------------------------------------------------------------- SEARCH ------------------------------------------------------ */
.search_background_white{
	background-color: white;
}

.search_background_gray{
	background-color: #d8d9da;
}

.search_row{
	padding: 15px;
}

.search_button_category{
    padding: 0 8px;
    margin: auto;
    border: none;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.search_button_category.active{
	color: #ff9800;
}

.search_button_category:hover{
	color: #ff9800;
}

.search_title{
	color: #ff9800;
}

.search_item{
	color: gray;
	margin: 10px auto;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.search_item_icon{
	opacity: 0;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.search_item:hover{
	color: black;
}

.search_item:hover .search_item_icon{
	opacity: 1;
}

.search_item.active{
	color: black;
}

.search_item.active .search_item_icon{
	opacity: 1;
}

/* ------------------------------------------------------------------ 16 -------------------------------------------------------- */
/* ---------------------------------------------------------------- FOOTER ------------------------------------------------------ */

footer{
    padding-top: 70px;
    color:white !important;
}

.footer_top{
    background: #be7100;
    color: #ff9800;
    min-height: 30px;
}

.footer_bottom{
    background: #ff9800;
    min-height: 250px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer_tasty_logo{
    width: 100%;
	max-width:250px;
}

.footer_items ul{
    padding-left: 70px;
}

.footer_items ul li{
    list-style-type:none;
    line-height: 1.7
}

.footer_items ul li a:hover{
	color:white;
}

.footer_social_icon{
    font-size: 2em;
    margin: 0px 7px 0 7px;
}

@media screen and (max-width: 991px){
    .footer_items{
		text-align: center;
	}
	
	.footer_items ul{
		padding-left: 0 !important;
	}
}