<!-- container card -->
<div class="row tasty_container text-center tasty_title_category tasty_load_space">
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
    <div class="col-md-4">
        <h3 class="tasty_title_text">Attività</h3>
    </div>
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
</div>

<div class="row activities_container">

    <div infinite-scroll="nextActivites()" infinite-scroll-parent="true">
        <!-- non ci sono notifiche -->
        <div ng-show="activities.length==0">
            Non ci sono attività da mostrare...
        </div>

        <timeline>
            <timeline-event ng-repeat="n in activities | orderBy:'-createdAt'" side="">
            <!-- stampo le notifiche -->
                <activity  activity="n"></activity>
            </timeline-event>
        </timeline>

        <div ng-show='busy'>Caricamento...</div>

    </div>

</div>