<timeline-badge class="{{badgeClass[activity.type]}}">
    <i class="{{badgeIconClass[activity.type]}}"></i>
</timeline-badge>
<timeline-panel class="{{badgeClass[activity.type]}}">
    <timeline-heading>
        <h4>
            {{message[activity.type]}}
            <a href="{{objectLink}}" class="link"><em>{{object}}</em></a>.
        </h4>
    </timeline-heading>
    <small class="text-muted">
            <i class="glyphicon glyphicon-time"></i>
            {{ formatDate(activity.createdAt) }}
        </small>
</timeline-panel>