
<!-- Navbar -->
<div ui-view="navbar"></div>
<!-- End Navbar -->

<div style="clear:both;"></div>
  
<div id="wrapper" ng-class="{'toggled': toggle}"> <!-- ng-cloak -->
  
  <!-- Sidebar -->
  <div ui-view="sidebar"></div>
  <!-- End Sidebar -->
  
  <div style="clear:both;"></div>
  
  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
                <div ui-view="content" class=""></div>
                <footer>
                    <div class="fluid-container">
                        <div class="row footer_bottom">
                            <div class="col-md-3 footer_items">
                                <div class="fluid-container">
                                    <div class="col-md-12">
                                        <img src="app_images/tastysnaplogo_full.png" class="footer_tasty_logo">
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <i class="fa fa-facebook-official footer_social_icon" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus footer_social_icon" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-square footer_social_icon" aria-hidden="true"></i>
                                        <i class="fa fa-instagram footer_social_icon" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 footer_items">
                                <h5><i class="fa fa-link" aria-hidden="true"></i> LINK UTILI</h5>
                                <ul>
                                    <li>Crea una nuova Ricetta!</li>
                                    <li>Ricette Preferite</li>
                                    <li>Ricette Viste</li>
                                    <li>Raccolte che segui</li>
                                    <li>Ricette Provate</li>
                                </ul>
                            </div>
                            <div class="col-md-3 footer_items">
                                <h5><i class="fa fa-user" aria-hidden="true"></i> PROFILO</h5>
                                <ul>
                                    <li>Il tuo profilo</li>
                                    <li>Following</li>
                                    <li>Followers</li>
                                </ul>
                            </div>
                            <div class="col-md-3 footer_items">
                                <h5><i class="fa fa-question-circle" aria-hidden="true"></i> INFORMAZIONI</h5>
                                <ul>
                                    <li>informazioni su Tastysnap</li>
                                    <li>Termini di Servizio</li>
                                    <li>informativa sulla privacy</li>
                                    <li>utilizzo dei cookie</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row footer_top text-center">
                            <div class="col-md-12">
                                <span>© 2016 TASTYSNAP ALL RIGHTS RESERVED</span>
                            </div>
                        </div>
                    </div>
                </footer>
          </div>
      </div>
  </div><!-- End Page Content -->
  
</div><!-- End Page Wrapper -->
