<!-- Immagine sfocata a tutto sfondo -->
<style ng-if="detailedCollection.recipes && detailedCollection.recipes.length > 0">
    body {
        background-color: #282828;
        background: url("{{getRandomCoverBlurredImage(detailedCollection)}}") no-repeat center center fixed;
        background-size: cover;
        padding: 50px 0 0 0;
    }
</style>

<!-- Parte Superiore - Intestazione -->
<div class="row tasty_container tasty_container_margin">
    <!-- Col Collection Profile -->
    <div class="col-md-12 collection_main_info">
        <a href="app/profile/{{detailedCollection.author.id}}"><img src="{{ getUserProfileImage(detailedCollection.author) }}" class="img-circle collection_profile_photo pull-left"></a>
        <div class="collection_div_profile_name pull-left">
            <h5 class="collection_profile_name no-margin"><strong>{{detailedCollection.author.name}} {{detailedCollection.author.surname}}</strong></h5>
            <h6 class="collection_profile_edited no-margin">Ultima modifica {{formatDate(detailedCollection)}}</h6>
        </div>
    </div>

    <!-- Row Titolo -->
    <div class="col-md-12 collection_main_info">
        <span class="text-uppercase">
            <h1 class="no-margin collection_title"><strong>{{detailedCollection.title}}</strong></h1>
        </span>
    </div>

    <!-- Row Like -->
    <div class="col-md-12 collection_main_info">
        <h5><div class="glyphicon glyphicon-eye-open collection_info_item pull-left"><span class="collection_info_item_count">{{detailedCollection.viewsCount}}</span></div></h5>
        <h5><div class="glyphicon glyphicon-heart collection_info_item pull-left"><span class="collection_info_item_count">{{detailedCollection.followersCount}}</span></div></h5>
        <h5><div class="glyphicon glyphicon-share-alt collection_info_item pull-left"><span class="collection_info_item_count">Condividi</span></div></h5>
    </div>
</div>

<!-- Contenitore Card -->
<div class="row tasty_container tasty_container_margin text-center">
    <recipe-card recipe="recipe" 
            open-collection-modal="openCollectionSelectionModal(recipe)"
            open-share-modal="openShareModal(recipe)"
            toggle-upvote-recipe="toggleUpvoteRecipe(recipe)"
            ng-repeat="recipe in detailedCollection.recipes"
            ng-init="checkVote(recipe)"></recipe-card>
</div>