<style ng-if="detailedCollection.recipes && detailedCollection.recipes.length > 0">
    .collection_header_background {
        background-color: #282828;
        background: url("{{randomBlurredImage}}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<!--
     base: http://codepen.io/Guilh/pen/JLKbn
-->

<div class="container-fluid collection_detail">
    <div class="row">
    
        <!-- HEADER (titolo + sfondo + profilo) -->
        <div class="collection_header collection_header_background">
            <!-- Titolo collection -->
            <div class="text-center">
                <h1>{{detailedCollection.title}}</h1>
                <h3>{{detailedCollection.description}}</h3>
            </div>
            <!-- Profilo -->
            <div class="text-center">
                <a href="app/profile/{{detailedCollection.author.id}}"><img src="{{ getUserProfileImage(detailedCollection.author) }}" class="img-circle collection_profile_photo"></a>
                <div class="collection_div_profile_name text-left">
                    <h5 class="collection_profile_name no-margin"><strong>{{detailedCollection.author.name}} {{detailedCollection.author.surname}}</strong></h5>
                    <h6 class="collection_profile_edited no-margin">Ultima modifica {{formatDate(detailedCollection)}}</h6>
                </div>
            </div>
        </div>

        <!-- Navbar scroll top -->
        
        <nav class="collection_nav navbar-inverse" set-class-when-at-top="collection_nav-scrolled" padding-when-at-top="0">
            <p class="navbar-text"><i class="fa fa-eye" aria-hidden="true"></i> {{detailedCollection.viewsCount}}</p>
            <p class="navbar-text"><i class="fa fa-heart" aria-hidden="true"></i> {{detailedCollection.followersCount}}</p>
            <p class="navbar-text"><i class="fa fa-share" aria-hidden="true"></i> Condividi</p>

            <button ng-show="isCollectionAuthor(detailedCollection)" type="button" class="btn btn-warning btn-sm navbar-btn pull-right collection_btn" uib-btn-checkbox ng-model="recipeRemoveOn" >Modifica ricette</button>
            <button ng-show="isCollectionAuthor(detailedCollection)" type="button" class="btn btn-warning btn-sm navbar-btn pull-right collection_btn" ng-click="openEditModal()">Modifica raccolta</button>
            
            <button ng-hide="isCollectionAuthor(detailedCollection)" type="button" class="btn btn-warning btn-sm navbar-btn pull-right collection_btn" ng-click="toggleFollow(detailedCollection)" ng-mouseenter="onMouseEnter()" ng-mouseleave="toggleAction()">
                <div ng-if="action.length>0"><span class="glyphicon glyphicon-user"></span>{{action}}</div>
                <div ng-if="detailedCollection.isFollowed == true && action.length==0"><span class="glyphicon glyphicon-user"></span>STAI SEGUENDO</div>
                <div ng-if="detailedCollection.isFollowed == false && action.length==0"><span class="glyphicon glyphicon-user"></span>SEGUI RACCOLTA</div>
            </button>
        </nav>
        

        <!-- Card -->
        <div class="collection_card_con tasty_container tasty_container_margin text-center">
            <h4 class="no-margin collection_title text_center" ng-show="detailedCollection.recipes.length == 0">Nessuna ricetta presente</h4>
            <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
                toggle-upvote-recipe="toggleUpvoteRecipe(recipe)" show-remove-button="recipeRemoveOn" remove-callback="removeRecipe(recipe)"
                ng-init="checkVote(recipe)" ng-repeat="recipe in detailedCollection.recipes"></recipe-card>
        </div>
    </div>
</div>

