
<!-- card collection 1 -->
<div class="col-xs-12 col-sm-6 col-md-4 box">
    <!-- <a href="app/collection/{{collection.id}}"> -->
        <!-- versione a 4 immagini -->
        <div class="card_collection_content_bg2" ng-style="{'background-image': 'url(' + collection.coverImageUrl + ')'}">

            <div ng-hide="collection.coverImageUrl">
                <div class="card_collection_content_bg_1_4" 
                    ng-style="{'background-image': 'url(' + collection.recipes[0].coverImageUrl + ')'}" style="background-color: #464646;"></div>
                <div class="card_collection_content_bg_1_4" 
                    ng-style="{'background-image': 'url(' + collection.recipes[1].coverImageUrl + ')'}" style="background-color: #555555;"></div>
                <div class="card_collection_content_bg_1_4" 
                    ng-style="{'background-image': 'url(' + collection.recipes[2].coverImageUrl + ')'}" style="background-color: #636363;"></div>
                <div class="card_collection_content_bg_1_4" 
                    ng-style="{'background-image': 'url(' + collection.recipes[3].coverImageUrl + ')'}" style="background-color: #707070;"></div>
            </div>
            <!-- card hover -->
            <div hide-during-resolve to-state="'/app/collection/'+collection.id" class="container-fluid card_share" ng-mouseenter="areYouFollowing()">
                <a href="app/collection/{{collection.id}}" class="card_link"></a>
                <div class="cont_row_share">
                    <div class="row text-center">
                        <span class="glyphicon gly_share_size tasty_icon" ng-class="(collection.isFollowed) ? 'glyphicon-heart tasty_icon_active' : 'glyphicon-heart-empty'"
                            ng-click="toggleFollow()" title="Inizia a seguire"></span>
                    </div>
                </div>
            </div>
            <div show-during-resolve to-state="'/app/collection/'+collection.id" class="container-fluid card_share card_share_clicked">
                <div class="row text-center" style="margin-top: 18%;">
                    <rotating-plane-spinner></rotating-plane-spinner>
                </div>
            </div>

        </div>
        
        <!-- div che contiene titolo - profilo - like -->
        <div class="container-fluid card_collection_content">
            <!-- titolo -->
            <div class="row collection_card_title text-uppercase">
                {{collection.title}}
            </div>
            <!-- profilo -->
            <div class="row collection_card_profile">
                <div class="img-circle collection_card_profile_photo pull-left" back-img="{{ getUserProfileImage(collection.author) }}"></div>
                <div class="collection_card_profile_name pull-left">
                    <h6>{{collection.author.name}} {{collection.author.surname}}</h6>
                </div>
            </div>

            <!-- icone + valori -->
            <div class="row collection_card_info">
                <i class="fa fa-heart collection_card_info_item"> {{collection.followersCount}}</i>
                <i class="fa fa-eye collection_card_info_item"> {{collection.viewsCount}}</i>
            </div>
        </div>

        <div class="collection_card_gradient"></div>
    <!-- </a> -->
</div>