<div class="modal-header">
    <h3 class="modal-title">Modifica raccolta {{collection.title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Titolo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" ng-model="collection.title" placeholder="Titolo">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDesc" class="col-sm-2 control-label">Descrizione</label>
            <div class="col-sm-10">
                <textarea style="resize: none;" class="form-control" id="inputDesc" ng-model="collection.description" name="description"
                    rows="3" placeholder="Di cosa parla la tua raccolta?"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDesc" class="col-sm-2 control-label">Immagine di copertina</label>
            <div class="col-sm-10">
                 <div nv-file-drop class="well my-drop-zone text-center recipe_create_add_photo_box" nv-file-over="" uploader="coverImageUploader" ng-hide="collection.coverImageUrl != null || coverImageUploader.queue.length == 1">
                    <i class="fa fa-camera recipe_create_add_photo_icon"></i>
                    <h5>Trascina un'immagine oppure usa il seguente pulsante</h5>
                    <div class="fileUpload btn btn-warning">
                        <span>Seleziona immagine</span>
                        <input type="file" class="upload" nv-file-select="" uploader="coverImageUploader" />
                    </div>
                </div>
                <!-- Anteprima immagine di copertina selezionata -->
                <div ng-repeat="item in coverImageUploader.queue">
                    <button type="button" class="btn btn-danger btn-xs recipe_create_button_remove" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <div ng-show="coverImageUploader.isHTML5" ng-thumb="{ file: item._file, width: 425 }"></div>
                </div>
                <!-- Anteprima immagine di copertina esistente (nel caso di modifica ricetta)-->
                <div ng-show="collection.coverImageUrl">
                    <button type="button" class="btn btn-danger btn-xs recipe_create_button_remove" ng-click="collection.coverImageUrl = undefined">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <img src="{{collection.coverImageUrl}}" alt="Immagine di copertina" class="recipe_img">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="radio" class="col-sm-2 control-label">Privata</label>
            <div class="col-sm-10">
                <div class="btn-group" id="radio">
                    <label class="btn btn-default" ng-model="collection.isPrivate" uib-btn-radio="true">Si</label>
                    <label class="btn btn-default" ng-model="collection.isPrivate" uib-btn-radio="false">No</label>
                </div>
                <strong ng-show="collection.isPrivate" style="color: grey;">Quando la raccolta è privata soltanto tu puoi vederla e consultarla.</strong>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div style="float:left;">
        <button class="btn btn-default" type="button" ng-click="delete()">Elimina raccolta</button>
    </div>
    <button class="btn btn-default" type="button" ng-click="cancel()">Annulla</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">Salva<i ng-show="loading" class="fa fa-spinner fa-spin"></i></button>
</div>