<div class="welcome_home"> 
    <div style="background-image: url('app_images/ext_home.jpg');" class="welcome_background"> </div>
    
    <div class="welcome_intro text-center">
        <img src="app_images/tastysnaplogo_full.png" class="welcome_logo">
        
        <h3>Scopri, crea e condividi ricette e raccolte con il resto del mondo.</h3>
        <h5 style="font-weight: 400;">Hai fame? Ti senti creativo? Crea la ricetta ideale su Tastysnap e inizia a cucinre</h5>
        
        <input type="text" class="form-control welcome_search" placeholder="Favolose crepes con guarnizione di fragole e crema">
        
        <h6>SCORRI PER TROVARE L'ISPIRAZIONE</h6>
        
        <h1><i class="fa fa-angle-down welcome_down pulsate" aria-hidden="true"></i></h1>
        
    </div>
    
</div>

<!-- container card -->
<div class="row welcome_home_card_container tasty_container text-center tasty_title_category tasty_load_space">
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
    <div class="col-md-4">
        <h3 class="tasty_title_text">Ultime ricette</h3></div>
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
</div>

<!-- CARD -->
<div class="row tasty_container text-center">
    <!-- basic card -->
    <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
    toggle-upvote-recipe="toggleUpvoteRecipe(recipe)" ng-repeat="recipe in recipes" ng-init="checkVote(recipe)"></recipe-card>
    <!-- fine card -->
</div>

<div class="row tasty_load_space"/>