<!-- RICETTE PIU COMMENTATE -->

<div style="width: 100%; height: 50px" class="row"></div>

<!-- container card -->
<div class="row tasty_container text-center tasty_title_category tasty_load_space">
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
    <div class="col-md-4">
        <h3 class="tasty_title_text">Le più commentate</h3></div>
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
</div>

<!-- CARD -->
<div class="row tasty_container text-center">

    <empty-list-holder  ng-hide="recipes.length > 0" msg="'Nessuna ricetta trovata'"></empty-list-holder>

    <!-- basic card -->
    <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
     ng-repeat="recipe in recipes"></recipe-card>
    <!-- fine card -->

</div>
<!-- fine tasty_container -->