<div style="width: 100%; height: 50px" class="row"></div>

<!-- container card -->
<div class="row tasty_container text-center tasty_title_category tasty_load_space">
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
    <div class="col-md-4">
        <h3 class="tasty_title_text">Ultime Ricette</h3></div>
    <div class="col-md-4">
        <hr class="tasty_title_bar"></hr>
    </div>
</div>

<!-- RECIPE CARD -->
<div class="row tasty_container text-center">

    <empty-list-holder  ng-hide="recipes.length > 0" msg="'Nessuna ricetta trovata'"></empty-list-holder>

    <!-- basic card -->
    <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
     ng-repeat="recipe in recipes"></recipe-card>
    <!-- fine card -->

</div>
<!-- fine tasty_container -->

<!-- button carica altro -->
<div class="row tasty_container text-center tasty_load_space">
    <load-more-button elements="recipes" on-click-function="getAll(skip, successCB, errorCB)" step="30"></load-more-button>
</div>

<!-- Most recent collections -->
<div ng-controller="CollectionCtrl">
    <div class="row tasty_container text-center tasty_title_category tasty_load_space">
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
        <div class="col-md-4">
            <h3 class="tasty_title_text">Raccolte consigliate</h3></div>
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
    </div>

    <!-- container card -->
    <div class="row tasty_container text-center tasty_load_space">

        <empty-list-holder  ng-hide="collections.length > 0" msg="'Nessuna raccolta trovata'"></empty-list-holder>

        <!-- collection card -->
        <collection-card collection="collection" ng-repeat="collection in collections"></collection-card>
        <!-- collection card -->

    </div>

    <!-- button carica altro -->
    <div class="row tasty_container text-center tasty_load_space">
        <load-more-button elements="collections" on-click-function="getMostRecentCollection(skip, successCB, errorCB)" step="30"></load-more-button>
    </div>
</div>

<!-- Followed users -->
<div ng-controller="UserHomeCtrl">
    <div class="row tasty_container text-center tasty_title_category tasty_load_space">
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
        <div class="col-md-4">
            <h3 class="tasty_title_text">Persone che segui</h3></div>
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
    </div>

    <!-- profile's cards -->
    <div class="row tasty_container text-center tasty_load_space">

        <empty-list-holder  ng-hide="following_users.length > 0" msg="'Nessuna persona trovata'"></empty-list-holder>

        <!-- user card -->
        <user-card user="user.following" ng-repeat="user in following_users"></user-card>
        <!-- user card -->

    </div>

    <!-- button carica altro -->
    <div class="row tasty_container text-center tasty_load_space">
        <load-more-button elements="following_users" on-click-function="getFollowingUsers(skip, successCB, errorCB)" step="30"></load-more-button>
    </div>
</div>