<!-- Template per il login.
     CSS e HTML preso da: http://getbootstrap.com/examples/signin/ -->
<!--<div class="login_body"></div> -->

<style>
    body {
        background: url("app_images/login.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 0;
    }
</style>

<div class="container-fluid">
    <div class="row login_body">
        <div class="container-fluid login_container text-center">

            <div class="row">
                <a href="/home"><img src="app_images/tastysnaplogo_full.png" class="login_brand"></a>
                <h4 style="color: white; margin: auto; line-height: 1.4;">
                    Cosa stai cucinando? Tastysnap è il luogo dove poter condividere le tue ricette e scoprire nuove idee da preparare. Iscriviti ora.<br><br>
                </h4>
                
            </div>

            <div class="row social-buttons">
                <a href="api/v1/auth/facebook" target="_self" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Accedi con <b>Facebook</b>
                </a>
                <a href="api/v1/auth/google" target="_self" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Accedi con <b>Google</b>
                </a>
                <a href="api/v1/auth/twitter" target="_self" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Accedi con <b>Twitter</b>
                </a>
            </div>
            <div class="row">
                <p class="login_privacy">
                    <small>
                Iscrivendoti, accetti i <a href="/terms" target="_self">Termini di Servizio</a> e l' <a href="privacy" target="_self">informativa sulla privacy</a>, incluso l' <a href="cookie" target="_self">Utilizzo dei cookie</a>.
                Altri utenti potranno trovarti tramite email, laddove fornita.
                </small>
                </p>
            </div>
        </div>
    </div>

    <div class="row login_footer">
        <div class="login_footer_item"><a href="info" target="_self">Informazioni su TastySnap</a></div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">Per le Aziende</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item"><a href="privacy" target="_self">Privacy e Termini</a></div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">App per Android</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">App per Iphone</div>
    </div>

</div>

</div>


