<!-- Template per il login.
     CSS e HTML preso da: http://getbootstrap.com/examples/signin/ -->
<!--<div class="login_body"></div> -->

<style>
    body {
        background: url("images/login.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 0;
    }
</style>

<div class="fluid-container">
    <div class="row login_body">
        <div class="container-fluid login_container text-center">

            <div class="row">
                <a href="index.php"><img src="images/tastysnaplogo_full.png" class="login_brand"></a>
            </div>

            <div class="row social-buttons">
                <a href="api/v1/auth/facebook" target="_self" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Accedi con <b>Facebook</b>
                </a>
                <a href="api/v1/auth/google" target="_self" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Accedi con <b>Google</b>
                </a>
                <a href="api/v1/auth/twitter" target="_self" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Accedi con <b>Twitter</b>
                </a>
            </div>
            <div class="row">
                <p class="login_privacy">
                    <small>
                Iscrivendoti, accetti i <a href="#">Termini di Servizio</a> e l' <a href="#">informativa sulla privacy</a>, incluso l' <a href="#">Utilizzo dei cookie</a>.
                Altri utenti potranno trovarti tramite email, laddove fornita.
                </small>
                </p>
            </div>
        </div>
    </div>

    <div class="row login_footer">
        <div class="login_footer_item">Informazioni su TastySnap</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">Blog</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">Per le Aziende</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">Privacy e Termini</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">App per Android</div>
        <div class="login_footer_item login_footer_item_divider">-</div>

        <div class="login_footer_item">App per Iphone</div>
    </div>

</div>

</div>


