<div class="panel panel-default">
  <div class="panel-body">
	  
	  	<div class="page-header">
  			<h1><small>Inserisci la ricetta</small>
  			<br>DAI SFOGO ALLA TUA CREATIVITA/' </h1>
		</div>
		
    	<label for="recipe_title">Titolo ricetta</label>
		<input type="text" class="form-control" id="recipe_title" aria-describedby="basic-addon3">
		
		<select class="selectpicker">
     		<option>Mustard</option>
      		<option>Ketchup</option>
      		<option>Relish</option>
  		</select>

  </div>
</div>

<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>