
    <!-- testata cover + profilo -->
    <div class="row prof_personal_header" style="background: url('http://www.mattarmendariz.com/media/original/Matt-Dani-Adam-Meal-APE.jpg') no-repeat center center fixed; ">
        <div class="container-fluid text-center prof_personal_info">
            <!-- profile photo -->
            <div class="row">
                <img src="{{user.facebookImageUrl}}" alt="{{user.name}} {{user.surname}}" class="img-circle profile_photo">
            </div>
            <!-- profile name -->
            <div class="row">
                <span><h4>{{user.name}} {{user.surname}}</h4></span>
            </div>
            <!-- profile where -->
            <div class="row">
                <span><h5><span class="glyphicon glyphicon-map-marker"></span> FABRIANO</h5>
                </span>
            </div>
            <!-- profile follow -->
            <div class="row prof_personal_info_item">
                <button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-user"></span>SEGUI</button>
            </div>
        </div>

        <!-- buttons -->
        <div class="row text-center profile_menu">
            
            <div class="profile_button_item" ng-class="{'active': getCurrentState() == 'dashboard.profile'}">
                <a href="/dashboard/profile/{{ user.id }}">
                    <span>{{user.recipesCount}}<br>RICETTE</span>
                </a>
            </div>

            <div class="profile_button_item" ng-class="{'active': getCurrentState() == 'dashboard.profile.collections'}">
                <a href="/dashboard/profile/{{ user.id }}/collections">
                    <span>{{user.collectionsCount}}<br>RACCOLTE</span>
                </a>
            </div>

            <div class="profile_button_item" ng-class="{'active': getCurrentState() == 'dashboard.profile.following'}">
                <a href="/dashboard/profile/{{ user.id }}/following">
                    <span>{{user.followingCount}}<br>FOLLOWING</span>
                </a>
            </div>

            <div class="profile_button_item" ng-class="{'active': getCurrentState() == 'dashboard.profile.followers'}">
                <a href="/dashboard/profile/{{ user.id }}/followers">
                    <span>{{user.followersCount}}<br>FOLLOWERS</span>
                </a>
            </div>

        </div>
        
        <!-- gradient -->
        <div class="prof_personal_header_gradient"></div>
    </div>
    
    <!-- Profile Content -->
    <div class="row tasty_container tasty_container_profile_margin text-center">
        <div ui-view="profile_content"></div>    
    </div>
    <!-- End Profile Content -->
