<div class="modal-body text-center create_recipe_modal" back-img="app_images/user_retain_modal.jpg">
    <!-- FINISH -->
    <div ng-show="finish">
        <i class="fa fa-check-circle fa-5" style="color: white;" aria-hidden="true"></i>
        <h3 class="modal-title">Evivva!</h3>
        <h4 ng-show="editMode">
            La ricetta è stata aggiornata con successo.
            <p ng-show="recipeToCreate.ingredientState == 'toBeValidate'">La ricetta contiene ingredienti nuovi, prima dovrà essere verificata dallo staff.</p>
        </h4>
        <h4 ng-hide="editMode">
            La ricetta è stata creata con successo.
            <p ng-show="recipeToCreate.ingredientState == 'toBeValidate'">La ricetta contiene ingredienti nuovi, prima dovrà essere verificata dallo staff.</p>
        </h4>
        <button class="btn btn-default" type="button" ng-click="closeModal()">Mostra ricetta</button>
    </div>

    <!-- LOADING -->
    <div ng-hide="finish">
        <br>
        <h4 class="modal-title" ng-hide="editMode">Creazione ricetta in corso...</h4>
        <h4 class="modal-title" ng-show="editMode">Salvataggio delle modifiche in corso...</h4>
        <br>
        <uib-progressbar class="progress-striped active" animate="true" value="createProgress" type="success" max="createSum"></uib-progressbar>
    </div>

</div>