<div class="modal-header">
    <h3 class="modal-title text-center">Aggiungi <strong>{{ selectedRecipe.title }}</strong> a una raccolta</h3>
</div>
<div class="modal-body">
    <div class="row">
        <!-- CONTINER CARD -->
        <div class="col-xs-12 col-sm-5 col-md-5 text-center">
            <!-- Anteprima della card che aggiungerò alla collection -->
            <!-- basic card -->
            <recipe-card recipe="selectedRecipe"></recipe-card>
            <!-- fine card -->
        </div>

        <!-- CONTAINER LISTA COLLECTION -->
        <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="container-fluid">
                <!-- search collection input -->
                <!--
                <div class="row modal-add-recipe-to-collection_row">
                    <input type="text" class="form-control modal-add-recipe-to-collection_input_text" placeholder="Cerca una raccolta">
                </div>
                -->

                <!-- add new collection -->
                <div class="row modal-add-recipe-to-collection_row modal-add-recipe-to-collection_media_container">

                    <!-- Aggiungi una nuova collection! -->
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showme=true">Crea una nuova raccolta</button>

                    <div class="panel panel-default modal-add-recipe-to-collection_panel" ng-show="showme">
                        <div class="panel-body">

                            <!-- Titolo Raccolta -->
                            <input type="text" class="form-control modal-add-recipe-to-collection_input_text" placeholder="Titolo Raccolta" ng-model="collectionToCreate.title">

                            <!-- Input descrizione -->
                            <textarea class="form-control modal-add-recipe-to-collection_input_text" rows="3" placeholder="Descrivi brevemente la tua raccolta!"></textarea>

                            <!-- Is private -->
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Collection Private (puoi vederla solo tu)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Collection pubblica
                                </label>
                            </div>

                            <!-- Standard button -->
                            <button type="button" class="btn btn-warning text-right" ng-click="showme=false">Chiudi</button>
                            <button type="button" class="btn btn-primary text-right" ng-click="createCollection()">Aggiungi</button>

                        </div>
                    </div>

                    <!-- input per filtrare le tue raccolte -->
                    <div ng-hide="showme">
                        <div class="media">
                            <input type="text" class="form-control modal-add-recipe-to-collection_input_text" placeholder="Cerca una raccolta" ng-model="addtocollection">
                        </div>

                        <!-- ng repeat media (collection) -->
                        <div class="media modal-add-recipe-to-collection_media" ng-repeat="collection in collections | filter: addtocollection ">
                            <!-- manca di mettere il nome della raccolta nel title -->
                            <div class="media-left media-middle" title="Aggiungi {{selectedRecipe.title}} a {{collection.title}}">
                                <a href="#">
                                    <div class="media-object modal-add-recipe-to-collection_img" style="background-image:url('http://www.tastysnap.com/preview/imm/thai_tb.jpg')"></div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading modal-add-recipe-to-collection_title">{{collection.title}}</h4>
                            </div>
                        </div>
                        <!-- fine ng-repeat -->
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>