<div class="modal-header" ng-if="!finish">
    <h3 class="modal-title text-center">Segnala la ricetta come non appropriata</strong>
    </h3>
</div>


<form name="reportForm" role="form" ng-submit="ok()" novalidate>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" ng-if="!finish" ng-class="{ 'has-error': reportForm.notes.$touched && reportForm.notes.$invalid }">
                <!-- Note dell'utente' -->
                <label class="control-label">Aggiunti dettagli per la tua segnalazione</label>
                <textarea style="resize: none;" rows="3" class="form-control modal-add-recipe-to-collection_input_text" placeholder="Aggiungi note"
                    ng-model="reportToCreate.notes" name="notes" required ng-minlength="3"></textarea>
                <div class="help-block" ng-if="reportForm.notes.$touched && reportForm.notes.$invalid" ng-messages="reportForm.notes.$error">
                    <div ng-messages-include="templates/validation_messages.html"></div>
                </div>
            </div>
            <div class="col-md-12" ng-if="finish">
                <!-- Note dell'utente' -->
                <h2>Grazie per la tua segnalazione</h2>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-if="!finish">Annulla</button>
        <button class="btn btn-danger" type="submit" ng-disabled="reportForm.$invalid">
        {{(finish) ? 'Chiudi' : 'Segnala'}} <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </button>
    </div>

</form>