<!-- basic card -->
        <div class="card">
            <div class="thumbnail no-padding no-border card_info no-border-radius" style="background-color:{{recipe.dominantColor}}">
                <!-- contenitore card img -->
                <div class="card_container_img">
                    <!-- card image -->
                    <div class="card_img" style="background-image:url('{{recipe.coverImageUrl}}')"></div>

                    <!-- card share -->
                    <div class="container-fluid card_share">
                        <div class="cont_row_share">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <span class="glyphicon gly_share_size tasty_icon" ng-class="(recipe.userVote == 1) ? 'glyphicon-heart tasty_icon_active' : 'glyphicon-heart-empty'" ng-click="toggleUpvoteRecipe(recipe)" title="mi piace!"></span>
                                </div>
                                <div class="col-xs-6"><span class="glyphicon glyphicon-share-alt gly_share_size tasty_icon" ng-click="openShareModal(recipe)" title="condividi {{recipe.title}}"></span></div>
                            </div>
                            <div class="row text-center">
                                <span class="glyphicon glyphicon-plus gly_share_size tasty_icon" ng-click="openCollectionModal(recipe)" title="aggiungi {{recipe.title}} ad una raccolta!"></span>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="caption color_caption" ng-style="cardFontStyle">
                    <div class="container-fluid">
                    
                        <!-- icone + valori -->
                        <div class="row text-right">
                            <i class="fa fa-heart card_icon"> {{recipe.votesCount}}</i>
                            <i class="fa fa-comment card_icon"> {{recipe.commentsCount}}</i>
                            <i class="fa fa-eye card_icon"> {{recipe.viewsCount}}</i>
                            <i class="fa fa-cutlery card_icon"> {{recipe.trialsCount}}</i>
                        </div>
                        
                        <!-- tipo portata -->
                        <div class="row">
                            <span><h6 class="card_reach">{{recipe.category}}</h6></span>
                        </div>

                        <!-- titolo portata -->
                        <div class="row">
                           <h5 class="no-margin card_title text-uppercase" >
                               <a href="app/recipe/{{recipe.id}}" ng-style="cardFontStyle">{{recipe.title}}</a>
                           </h5>
                        </div>

                        <!-- profile -->
                        <div class="row">
                            <img src="{{ getUserProfileImage(recipe.author) }}" class="img-circle card_profile_photo pull-left">
                            <div class="card_profile_name pull-left">
                                <a href="app/profile/{{recipe.author.id}}">
                                <h6 ng-style="cardFontStyle">{{recipe.author.name}} {{recipe.author.surname}}</h6>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
        <!-- fine card -->