<div class="modal-header">
    <h3 class="modal-title text-center">Aggiungi <strong>{{ selectedRecipe.title }}</strong> a una raccolta</h3>
</div>
<div class="modal-body">
    <div class="row">
        <!-- CONTINER CARD -->
        <div class="col-xs-12 col-sm-5 col-md-4 text-center">
            <!-- Anteprima della card che aggiungerò alla collection -->
            <!-- basic card -->
            <recipe-card recipe="selectedRecipe"></recipe-card>
            <!-- fine card -->
        </div>

        <!-- CONTAINER LISTA COLLECTION -->
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="row modal-add-recipe-to-collection_con">

                <div ng-hide="showme" class="col-md-4 modal-add-recipe-to-collection_coll" title="Aggiungi {{selectedRecipe.title}} a {{collection.title}}" ng-repeat="collection in collections | filter: addtocollection " ng-click="addRecipeToCollection(collection)" role="button">
                    <div style="height:auto; padding-bottom: 100%;">
                        <div class="card_collection_content_bg_1_4" ng-style="{'background-image': 'url(' + collection.recipes[0].coverImageUrl + ')'}" style="background-color: #464646;"></div>
                        <div class="card_collection_content_bg_1_4" ng-style="{'background-image': 'url(' + collection.recipes[1].coverImageUrl + ')'}" style="background-color: #555555;"></div>
                        <div class="card_collection_content_bg_1_4" ng-style="{'background-image': 'url(' + collection.recipes[2].coverImageUrl + ')'}" style="background-color: #636363;"></div>
                        <div class="card_collection_content_bg_1_4" ng-style="{'background-image': 'url(' + collection.recipes[3].coverImageUrl + ')'}" style="background-color: #707070;"></div>
                    </div>
                    <label>{{collection.title}}</label>
                </div><!-- fine ng-repeat -->
                
            </div>
        </div>
    </div>
</div><!-- /modal body -->

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Annulla</button>
    <button class="btn btn-warning" type="button" ng-click="openCreateCollectionModal()">Crea nuova raccolta</button>
</div>