<div class="panel panel-default">
    <div class="panel-body">

        <div class="page-header">
            <h1><small>Inserisci la ricetta</small>
          <br>DAI SFOGO ALLA TUA CREATIVIT&Aacute; </h1>
        </div>

        <h3>INFORMAZIONI GENERALI</h3>
        
        <!-- Carica immagini -->
        <div class="form-group">
            <div class="row">
                <div class="col-xs-8">
                    <div class="fileUpload btn btn-primary">
                        <span>Aggiungi immagine</span>
                        <input type="file" class="upload" nv-file-select="" uploader="uploader" />
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Aggiungi un nuovo gruppo di ingredienti -->
        <div class="row">
            <div class="col-xs-8">
                <br><!-- Spaziatura necessaria -->
                <button type="button" class="btn btn-default" ng-click="getCoverImageDominanatColor()" style="background-color: rgb( {{dominantColor[0]}}, {{dominantColor[1]}}, {{dominantColor[2]}} )">Ottieni colore dominante</button>
                <br><!-- Spaziatura necessaria -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-8">
                <h3>Immagini selezionate</h3>
                <p>Numero: {{ uploader.queue.length }}</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Nome</th>
                            <th ng-show="uploader.isHTML5">Dimensioni</th>
                            <th ng-show="uploader.isHTML5">Progesso</th>
                            <th>Stato</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong>
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Carica
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Annulla
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Rimuovi
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-8">
                    <label class="control-label">Titolo ricetta</label>
                    <input type="text" class="form-control" name="title" ng-model="title" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-8">
                    <label class="control-label">Categoria</label>
                    <br>
                    <my-dropdown data-menu-type="button" select-val="selected_category = selectedVal" preselected-item="selected_category" data-dropdown-data="recipeCategories"></my-dropdown>
                </div>
            </div>
        </div>

        <h3>INGREDIENTI</h3>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label">Dosi per</label>
                    <input type="text" class="form-control" name="dosages_for" id="dosages_for" ng-model="dosagesFor" />
                </div>

                <div class="col-xs-2">
                    <label class="control-label">Tipologia</label>
                    <br>
                    <my-dropdown data-menu-type="button" select-val="selected_dosage_type = selectedVal" preselected-item="selected_dosage_type"
                    data-dropdown-data="dosageTypes"></my-dropdown>
                </div>

            </div>
        </div>

        <!-- GRUPPI DI INGREDIENTI -->
        <div class="col-xs-8 well" ng-repeat="ingredient_group in ingredient_groups">

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label">Titolo gruppo ingredienti</label>
                        <input type="text" class="form-control" name="director" ng-model="ingredient_group.title" />
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label"> </label>
                        <br>
                        <button type="button" class="btn btn-danger" ng-click="removeIngredientGroup($index)">Rimuovi</button>
                    </div>
                </div>
            </div>

            <!-- INGREDIENTI DI CIASCUN GRUPPO -->
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr style="font-weight: bold">
                            <td style="width: 25%">Nome</td>
                            <td style="width: 25%">Quantità</td>
                            <td style="width: 25%">Tipo</td>
                            <td style="width: 25%">Opzioni</td>
                        </tr>
                        <tr ng-repeat="ingredient2 in ingredient_group.ingredients">
                            <td>
                                <!-- editable username (text with validation) -->
                                <span editable-text="ingredient2.name" e-name="name" e-form="rowform" e-required>
                                {{ ingredient2.name || 'vuoto' }}
                                </span>
                            </td>
                            <td>
                                <!-- editable status (select-local) -->
                                <span editable-text="ingredient2.quantity" e-name="quantity" e-form="rowform" e-required>
                                {{ ingredient2.quantity || 'vuoto' }}
                                </span>
                            </td>
                            <td>
                                <!-- editable group (select-remote) -->
                                <span editable-text="ingredient2.type" e-name="type" e-form="rowform" e-required>
                                {{ ingredient2.type || 'vuoto' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                                <!-- form -->
                                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        Salva
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                        Annulla
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary" ng-click="rowform.$show()">Modifica</button>
                                    <button class="btn btn-danger" ng-click="removeIngredient($parent.$index, $index)">Elimina</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-default" ng-click="addIngredient($index)">Aggiungi ingrediente</button>
                    <br>

                </div>
            </div>
        </div>

        <!-- Aggiungi un nuovo gruppo di ingredienti -->
        <div class="row">
            <div class="col-xs-8">
                <br><!-- Spaziatura necessaria -->
                <button type="button" class="btn btn-warning" ng-click="addIngredientGroup()">Aggiungi gruppo ingredienti</button>
                <br><!-- Spaziatura necessaria -->
            </div>
        </div>
       

        <!-- PROCEDIMENTO -->
        <div class="form-group">
            <div class="row">
                <br><!-- Spaziatura necessaria -->
                <div class="col-xs-8">
                    <label class="control-label">Procedimento</label>
                    <textarea class="form-control" name="review" rows="8" ng-model="description"></textarea>
                </div>
            </div>
        </div>

        <form editable-form ng-submit="addRecipe()" role="form">
            <!-- AZIONI RELATIVE ALLA RICETTA -->
            <button type="submit" class="btn btn-default">Invia</button>
            <button type="button" class="btn btn-danger">Cancella</button>
        </form>

    </div>
    <!-- /panel-body -->
</div>
<!-- /panel -->


<div class="panel panel-default">
    <div class="panel-body">
        <form id="movieForm" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">Movie title</label>
                        <input type="text" class="form-control" name="title" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="control-label">Director</label>
                        <input type="text" class="form-control" name="director" />
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Writer</label>
                        <input type="text" class="form-control" name="writer" />
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Producer</label>
                        <input type="text" class="form-control" name="producer" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Website</label>
                        <input type="text" class="form-control" name="website" />
                    </div>

                    <div class="col-xs-6">
                        <label class="control-label">Youtube trailer</label>
                        <input type="text" class="form-control" name="trailer" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Procedimento</label>
                <textarea class="form-control" name="review" rows="8"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Rating</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="terrible" /> Terrible
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="watchable" /> Watchable
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="best" /> Best ever
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Validate</button>
        </form>

    </div>
</div>