<!-- Colorazione dinamica della colonna di sinistra -->
<style>
    body {
        padding: 50px 0 0 0;
        background: url('http://localhost:1337/images/dc8ed754d4b3d855b5997102f1f9bd6e.jpg') center center no-repeat;
        background-size: cover;
        z-index: 1;
        position: relative;
    }

    body:before{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top:0;
        z-index: 0;

        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,60,60,1) 30%, rgba(34,34,34,1) 34%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(30%, rgba(60,60,60,1)), color-stop(34%, rgba(34,34,34,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,60,60,1) 30%, rgba(34,34,34,1) 34%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,60,60,1) 30%, rgba(34,34,34,1) 34%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(60,60,60,1) 30%, rgba(34,34,34,1) 34%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(60,60,60,1) 30%, rgba(34,34,34,1) 34%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#222222', GradientType=0 );
    }

    .tasty_container{
        max-width: 1130px;
    }
</style>

<div ng-controller="RecipeDetailCtrl">
   <div class="recipe">
        <div class="container-fluid">

            <!-- RECIPE HEADER -->
            <div class="row">

                <div class="col-md-12">
                    <div class="row recipe_header">

                        <!-- SLIDER -->
                        <div class="recipe_header1" ng-controller="RecipeImageSliderCtrl">
                            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                    <div data-imagelightbox="div">
                                        <a href="{{slide.image}}" data-lightbox="imageSet" data-title="{{detailedRecipe.title}}">
                                            <div class="recipe_sp_2_1" style="background-image:url('{{slide.image}}')"></div>
                                        </a>
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                        </div>

                        <!-- header information -->
                        <div class="recipe_header2">
                            <div class="col-md-12">
                                <!-- TODO -->
                                <h3><i class="fa fa-comment"></i> facile</h3>
                                <h3><i class="fa fa-comment"></i> molto calorica</h3>
                                <h3><i class="fa fa-comment"></i> costosissima</h3>
                            </div>
                        </div>

                        <!-- header title and cooker -->
                        <div class="row recipe_header3">
                            <div class="col-md-12">
                                <!-- profilo -->
                                <div class="recipe_profile text-center">
                                    <a href="app/profile/{{detailedRecipe.author.id}}" class="text-center"><div class="img-circle" back-img="{{ getUserProfileImage(detailedRecipe.author) }}"></div></a>
                                    <h5><strong>{{detailedRecipe.author.name}} {{detailedRecipe.author.surname}}</strong></h5>
                                    <h6>{{formatDate(detailedRecipe.createdAt)}}</h6>
                                </div>
                            </div>
                            <div class="col-md-12 text-center" style="margin-top: 35px;">
                                <h3 class="recipe_header_title">{{detailedRecipe.category}}</h3>
                            </div>
                            <div class="col-md-12 text-center text-uppercase">
                                <h1 class="recipe_header_title">{{detailedRecipe.title}}</h1>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- RECIPE CONTAINER -->
            <div class="row row_recipe_con">
                <!-- Colonna 1 - Ingrendienti e Descrizione -->
                <div class="col-xs-12 col-sm-7 col-sm-push-3 col-md-7 col-md-push-3 recipe_column">
                   <div class="panel panel-default">
                        <div class="panel-body text-left">
                            <h4 class="recipe_title">INGREDIENTI <span class="pull-right"><i class="fa fa-balance-scale"></i> per {{detailedRecipe.dosagesFor}} {{detailedRecipe.dosagesType}}</span></h4>
                            <hr class="recipe_hr">
                            <!-- gruppi di ingredienti -->
                            <div class="row">
                                <div ng-repeat="ingredientGroup in detailedRecipe.ingredientGroups">
                                    <div class="col-md-12">
                                        <h4>{{ingredientGroup.name}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 recipe_ingredient" ng-repeat="ingredient in ingredientGroup.ingredients">
                                            <div class="col-xs-7 col-sm-7 col-md-7">
                                                <div class="text-left">
                                                    <p class="recipe_ing_txt"><a href="">{{ingredient.product.name.long}}</a></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5">
                                                <div class="text-right">
                                                    <p class="recipe_ing_txt">{{ingredient.quantity}} {{ingredient.unitOfMeasure}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Descrizione -->
                    <div class="panel panel-default">
                        <div class="panel-body text-left">
                            <h4 class="recipe_title"> DESCRIZIONE <span class="pull-right"><i class="fa fa-clock-o"></i> {{detailedRecipe.preparationTime}} minuti</span>
                            </h4>
                            <hr class="recipe_hr">
                            <div class="row" ng-repeat="step in detailedRecipe.steps">
                                <div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px;">
                                    <button type="button" class="btn btn-default recipe_btn-circle recipe_prep_step">{{step.seq_number}}</button>
                                </div>
                                <div class="col-md-12">
                                    <p>{{step.description}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Colonna 2 - Pulsanti -->
                <div class="col-xs-12 col-sm-2 col-sm-push-3 col-md-2 col-md-push-3 recipe_column">
                    <div class="panel panel-default">
                        <div class="panel-body recipe_like">
                            <div class="row">
                                <div class="col-xs-6 col-sm-12 col-md-12 text-left"><button type="button" class="btn btn-default recipe_btn" ng-show="isRecipeAuthor(detailedRecipe)" ng-click="edit()"><i class="fa fa-pencil"></i> MODIFICA</button></div>
                                <div class="col-xs-6 col-sm-12 col-md-12 text-left"><button type="button" class="btn btn-default recipe_btn" ng-show="isRecipeAuthor(detailedRecipe)" ng-click="openEliminationModal(detailedRecipe)"><i class="fa fa-trash-o"></i> ELIMINA</button></div>
                                <div class="col-xs-6 col-sm-12 col-md-12 text-left"><button type="button" class="btn btn-default recipe_btn" ng-click="openReportModal(detailedRecipe)"><i class="fa fa-exclamation-circle"></i> SEGNALA</button></div>
                                <div class="col-xs-6 col-sm-12 col-md-12 text-left"><button type="button" class="btn btn-default recipe_btn" ng-click="openCollectionSelectionModal(detailedRecipe)"><i class="fa fa-plus"></i> AGGIUNGI A</button></div>
                                <div class="col-xs-6 col-sm-12 col-md-12 text-left"><button type="button" class="btn btn-default recipe_btn"><i class="fa fa-share-alt"></i> CONDIVIDI</button></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Colonna 1 - Like e Valori Nutrizionali -->
                <div class="col-xs-12 col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 recipe_column">
                    <!-- Like -->
                    <div class="panel panel-default">
                        <div class="panel-body recipe_like text-center">
                            <table>
                                <tr>
                                    <td uib-tooltip="Persone che adorano questa ricetta" tooltip-append-to-body="true"><i class="fa fa-heart"></i></td>
                                    <td uib-tooltip="Numero di commenti" tooltip-append-to-body="true"><i class="fa fa-comment"></i></td>
                                    <!-- numero di visualizzazioni -->
                                    <!--<td uib-tooltip="Numero di visualizzazioni" tooltip-append-to-body="true"><i class="fa fa-eye"></i></td>-->
                                    <td uib-tooltip="Persone che hanno provato questa ricetta" tooltip-append-to-body="true">
                                        <span ng-click="toggleTryRecipe(detailedRecipe)">
                                            <i class="fa fa-cutlery tasty_icon" ng-class="(detailedRecipe.userTry == null) ? 'tasty_icon_default' : 'tasty_icon_active'"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{detailedRecipe.votesCount}}</td>
                                    <td>{{detailedRecipe.commentsCount}}</td>
                                    <!-- numero di visualizzazioni -->
                                    <!--<td>{{detailedRecipe.viewsCount}}</td>-->
                                    <td>{{detailedRecipe.trialsCount}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- Opinioni  -->
                    <div class="panel panel-default" ng-controller="RecipeReviewCtrl">
                        <div class="panel-body text-left recipe_val_nutriz">
                            <h5 class="text-left"><strong>OPINIONI</strong></h5>
                            <hr class="recipe_hr">

                            <table class="recipe_sp_3_table">
                                <tr class="recipe_sp_3_tr"  uib-tooltip="{{getStringReviewsCount('difficulty')}}">
                                    <td class="text-left">DIFFICOLTÀ</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">{{getStringAverageValue("difficulty", "difficultyTitles")}}</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <div><uib-rating ng-click="toggleRecipeReview('difficulty', difficultyRating)" ng-model="difficultyRating" max="max" read-only="isReadonly" titles="difficultyTitles" on-hover="hoveringOver(value)"></uib-rating></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="recipe_sp_3_tr" uib-tooltip="{{getStringReviewsCount('cost')}}">
                                    <td class="text-left">COSTO</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">{{getStringAverageValue("cost", "costTitles")}}</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <div><uib-rating ng-click="toggleRecipeReview('cost', costRating)" ng-model="costRating" max="max" read-only="isReadonly" titles="costTitles" on-hover="hoveringOver(value)"></uib-rating></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="recipe_sp_3_tr"  uib-tooltip="{{getStringReviewsCount('calories')}}">
                                    <td class="text-left">CALORIE</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">{{getStringAverageValue("calories", "caloriesTitles")}}</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <div><uib-rating ng-click="toggleRecipeReview('calories', caloriesRating)" ng-model="caloriesRating" max="max" read-only="isReadonly" titles="caloriesTitles" on-hover="hoveringOver(value)"></uib-rating></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>

                    <!-- Valori Nutrizionali -->
                    <div class="panel panel-default">
                        <div class="panel-body text-left recipe_val_nutriz">
                            <h5 class="text-left"><strong>VALORI NUTRIZIONALI</strong></h5>
                            <hr class="recipe_hr">
                            <table>
                                <tr>
                                    <td class="text-left"><strong>Valore energetico</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalEnergy.value.toFixed(2)}} {{detailedRecipe.totalEnergy.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Proteine</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalProtein.value.toFixed(2)}} {{detailedRecipe.totalProtein.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Carboidrati</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalCarbs.value.toFixed(2)}} {{detailedRecipe.totalCarbs.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>di cui zuccheri</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalSugar.value.toFixed(2)}} {{detailedRecipe.totalSugar.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Grassi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFat.value.toFixed(2)}} {{detailedRecipe.totalFat.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>di cui saturi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFatSat.value.toFixed(2)}} {{detailedRecipe.totalFatSat.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Liquidi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalWater.value.toFixed(2)}} {{detailedRecipe.totalWater.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Fibre</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFibers.value.toFixed(2)}} {{detailedRecipe.totalFibers.unit}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left"><strong>Sodio</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalSod.value.toFixed(2)}} {{detailedRecipe.totalSod.unit}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RECIPE COMMMENTS -->
            <div class="row recipe_comments">
                <div class="col-md-12 recipe_comment_title text-center">
                    <span>COMMENTI</span>
                </div>

                <div class="col-md-8 col-md-offset-2 recipe_comment_cont" ng-controller="CommentCtrl">
                    <div class="row">

                        <!-- commenti - list -->
                        <div class="col-md-12">

                            <!-- nuovo commento (del profilo loggato) -->
                            <form ng-submit="create()" role="form">
                                <div class="media">
                                    <a class="pull-left" href="">
                                        <div class="media-object img-circle recipe_comment_photo" back-img="{{ getUserProfileImage(currentUser) }}"></div>
                                    </a>
                                    <div class="media-body">
                                        <input type="text" class="form-control recipe_comment_input" placeholder="Scrivi cosa ne pensi..." ng-model="commentToCreate.body">
                                    </div>
                                </div>
                                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                            </form>
                            
                            <!-- placeholder se non ci sono commenti -->
                            <div class="media" ng-hide="detailedRecipe.commentsCount > 0">
                                <div class="media-body">
                                    <h5 class="media-heading text-center">Nessun commento trovato</h5>
                                </div>
                            </div>

                            <!-- commento singolo -->
                            <div class="media" ng-repeat="comment in detailedRecipe.comments" ng-init="checkVote(comment)">
                                <a class="pull-left" href="">
                                    <div class="media-object img-circle recipe_comment_photo" back-img="{{ getUserProfileImage(comment.user) }}"></div>
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>{{comment.user.name}} {{comment.user.surname}} </strong><span class="recipe_comment_when">{{formatDate(comment.createdAt)}}</span>
                                        <a href="#" ng-show="comment.user.id == currentUser.id" ng-click="deleteComment(detailedRecipe, comment)" class="recipe_comment_delete"><i class="fa fa-times"></i></a>
                                    </h5>
                                    <h6 class="recipe_comment_txt">
                                        {{comment.body}}
                                    </h6>
                                    <!-- Rispondi -->
                                    <div class="recipe_comment_reply">
                                        <a href="" ng-hide="true"><span>Rispondi</span></a>
                                        <a href="" ng-click="toggleUpvote(comment, comment.userUpvote)">
                                            <i class="fa" ng-class="(comment.userUpvote == null) ? 'fa-thumbs-o-up' : 'fa-thumbs-up'"></i>{{comment.upvotesCount}}
                                        </a>
                                        <a href="" ng-click="toggleDownvote(comment, comment.userDownvote)">
                                            <i class="fa" ng-class="(comment.userDownvote == null) ? 'fa-thumbs-o-down' : 'fa-thumbs-down'"></i>{{comment.downvotesCount}}
                                        </a>
                                    </div>
                                    
                                    <!-- commento di commento -->
                                    <div class="media" ng-repeat="response in comment.responses">
                                        <a class="pull-left" href="personal_profile.php">
                                            <img class="media-object img-circle recipe_comment_photo recipe_comment_sub_photo" src="imm/mario.jpg" alt="Mariusz Wiazowski">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Mariusz</strong> <span class="recipe_comment_when">1 ora fa</span></h5>
                                            <h6 class="recipe_comment_txt">
                                                Eh si! fatti alla griglia vengono buonissimi!
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- metodo per caricare ulteriori commenti -->
                            <div class="media text-center">
                                <div class="media-body">
                                    <load-more-button elements="detailedRecipe.comments"
                                    on-click-function="getRecipeComments(skip, successCB, errorCB)"
                                    step="5"></load-more-button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-controller="SimilarRecipeCtrl">
    <!-- container card -->
    <div class="row tasty_container text-center tasty_title_category tasty_load_space">
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
        <div class="col-md-4">
            <h3 class="tasty_title_text">Ricette correlate</h3></div>
        <div class="col-md-4">
            <hr class="tasty_title_bar"></hr>
        </div>
    </div>
    <!-- CARD -->
    <div class="row tasty_container text-center">

        <empty-list-holder  ng-hide="recipes.length > 0" msg="'Nessuna ricetta trovata'"></empty-list-holder>

        <!-- basic card -->
        <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
        ng-repeat="recipe in recipes"></recipe-card>
        <!-- fine card -->

    </div>
</div>

<!-- script per far funzionare il lightbox (ingrandimento per immagini) -->
<script>
    $('.a[data-imagelightbox="a"]').imageLightbox({
        activity: true
    });
</script>