<style>
    .c_recipe_row{
        *background-color: {{recipeToCreate.dominantColor}};
    }
</style>

<div class="panel-body no-padding recipe_creating_message" ng-show="isCreating">
    <h3><i class="fa fa-cog recipe_creating_message_gear"></i> Creazione ricetta in corso...</h3>
</div>

<div class="tasty_container tasty_container_margin">
    <div class="panel panel-default no-border">
        <div class="panel-body no-padding" ng-hide="isCreating">
            <form name="recipeForm" role="form" novalidate>
                <!-- RIGA 1 - TITOLO -->
                <div class="row c_recipe_row">
                    <!-- vuoto -->
                    <div class="col-md-4 c_recipe_left"></div>
                    <!-- titolo -->
                    <div class="col-md-8 c_recipe_right">
                        <div class="page-header">
                            <h1>
                                <small>Inserisci la ricetta</small>
                                <br>
                                DAI SFOGO ALLA TUA CREATIVIT&Aacute;
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- RIGA 2 - SOTTOTITOLO -->
                <div class="row c_recipe_row">
                    <!-- vuoto -->
                    <div class="col-md-4 c_recipe_left"></div>
                    <div class="col-md-8 c_recipe_right">
                        <h3>INFORMAZIONI GENERALI</h3>
                    </div>
                </div>

                <!-- RIGA 3 - TITOLO RICETTA -->
                <div class="row c_recipe_row">
                    <!-- titolo ricetta -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Titolo ricetta</span>
                    </div>
                    <div class="col-md-8 c_recipe_right" ng-class="{ 'has-error': recipeForm.title.$touched && recipeForm.title.$invalid }">
                        <input type="text" class="form-control" name="title" ng-model="recipeToCreate.title" ng-minlength="3" ng-maxlength="50" required placeholder="Pizza" autocomplete="off"/>
                        <div class="help-block" ng-messages="recipeForm.title.$error" ng-if="recipeForm.title.$touched">
                            <div ng-messages-include="templates/validation_messages.html"></div>
                        </div>
                    </div>
                </div>
                                
                <!-- RIGA 3.5 - TEMPO DI PREPARAZIONE -->
                <div class="row c_recipe_row">
                    <!-- categoria ricetta -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Tempo totale di preparazione</span>
                    </div>
                    <div class="col-md-8 c_recipe_right" ng-class="{ 'has-error': recipeForm.preparation_time.$touched && recipeForm.preparation_time.$invalid }">
                        <div class="row">
                            <div class="col-xs-2">
                                <input type="number" class="form-control" name="preparation_time" id="preparation_time" ng-model="recipeToCreate.preparationTime" required
                                    min="1" max="1000" value="1" placeholder="1"/>
                                <div class="help-block" ng-messages="recipeForm.preparation_time.$error" ng-if="recipeForm.preparation_time.$touched">
                                    <div ng-messages-include="templates/validation_messages.html"></div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <span>minuti</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RIGA 4 - CATEGORIA -->
                <div class="row c_recipe_row">
                    <!-- categoria ricetta -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Categoria</span>
                    </div>
                    <div class="col-md-8 c_recipe_right">
                        <my-dropdown data-menu-type="button" select-val="recipeToCreate.category = selectedVal" preselected-item="recipeCategories[0]"
                        data-dropdown-data="recipeCategories"></my-dropdown>
                    </div>
                </div>
                
                <!-- RIGA 5 - FOTO -->
                <div class="row c_recipe_row" ng-hide="coverImageUploader.queue.length >= 1">
                    <!-- foto -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Immagine di copertina</span>
                    </div>
                    <!-- Carica immagini -->
                    <div class="col-md-8 c_recipe_right">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div nv-file-drop class="well my-drop-zone text-center recipe_create_add_photo_box" nv-file-over="" uploader="coverImageUploader">
                                        <i class="fa fa-camera recipe_create_add_photo_icon"></i>
                                        <h5>Trascina un'immagine oppure usa il seguente pulsante</h5>
                                        <div class="fileUpload btn btn-primary">
                                            <span>Seleziona immagine</span>
                                            <input type="file" class="upload" nv-file-select="" uploader="coverImageUploader" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- RIGA 6 - IMMAGINI SELEZIONATE -->
                <div class="row c_recipe_row" ng-show="coverImageUploader.queue.length >= 1">
                    <!-- colore domaninate -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Immagine selezionata</span>
                    </div>
                    <!-- Carica immagini -->
                    <div class="col-md-8 c_recipe_right" ng-repeat="item in coverImageUploader.queue">
                        <button type="button" class="btn btn-danger btn-xs recipe_create_button_remove" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div ng-show="coverImageUploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>
                    </div>
                </div>
                
                <!-- RIGA 5 - FOTO -->
                <div class="row c_recipe_row">
                    <!-- foto -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Ulteriori immagini</span>
                    </div>
                    <!-- Carica immagini -->
                    <div class="col-md-8 c_recipe_right">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div nv-file-drop class="well my-drop-zone text-center recipe_create_add_photo_box" nv-file-over="" uploader="otherImageUploader">
                                        <i class="fa fa-camera recipe_create_add_photo_icon"></i>
                                        <h5>Trascina un'immagine oppure usa il seguente pulsante</h5>
                                        <div class="fileUpload btn btn-primary">
                                            <span>Seleziona immagine</span>
                                            <input type="file" class="upload" nv-file-select="" uploader="otherImageUploader" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RIGA 6 - IMMAGINI SELEZIONATE -->
                <div class="row c_recipe_row" ng-show="otherImageUploader.queue.length >= 1">
                    <!-- colore domaninate -->
                    <div class="col-md-4 c_recipe_left">
                        <span>Immagine selezionata</span>
                        <p>Numero: {{ otherImageUploader.queue.length }}</p>
                    </div>
                    <!-- Carica immagini -->
                    <div class="col-md-8 c_recipe_right">
                        
                        <div class="col-md-4" ng-repeat="item in otherImageUploader.queue">
                            <button type="button" class="btn btn-danger btn-xs recipe_create_button_remove" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <div ng-show="otherImageUploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div>
                        </div>
                        
                    </div>
                </div>

                <!-- RIGA 7 - INGREDIENTI -->
                <div class="row c_recipe_row">
                    <!-- vuoto -->
                    <div class="col-md-4 c_recipe_left"></div>
                    <div class="col-md-8 c_recipe_right">
                        <h3>INGREDIENTI</h3>
                    </div>
                </div>

                <!-- RIGA 8 - INGREDIENTI -->
                <div class="row c_recipe_row">
                    <!-- ingredienti -->
                    <div class="col-md-4 c_recipe_left"></div>
                    <div class="col-md-8 c_recipe_right">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-2" ng-class="{ 'has-error': recipeForm.dosages_for.$touched && recipeForm.dosages_for.$invalid }">
                                    <label class="control-label">Dosi per</label>
                                    <input type="number" class="form-control" name="dosages_for" id="dosages_for" ng-model="recipeToCreate.dosagesFor" required
                                    min="1" max="99" value="1" placeholder="1"/>
                                    <div class="help-block" ng-messages="recipeForm.dosages_for.$error" ng-if="recipeForm.dosages_for.$touched">
                                        <div ng-messages-include="templates/validation_messages.html"></div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <label class="control-label">Tipologia</label>
                                    <br>
                                    <my-dropdown data-menu-type="button" select-val="recipeToCreate.dosagesType = selectedVal" preselected-item="dosageTypes[0]"
                                    data-dropdown-data="dosageTypes"></my-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <!-- RIGA 9 - GRUPPI DI INGREDIENTI -->
            <div class="row c_recipe_row">
                <!-- categoria ricetta -->
                <div class="col-md-4 c_recipe_left">
                    <span>Ingredienti</span>
                </div>
                <div class="col-md-8 c_recipe_right">
                    <!-- GRUPPI DI INGREDIENTI -->
                    <div class="col-md-12 well recipe_create_add_ingredient_box" ng-repeat="ingredient_group in ingredient_groups">
                        <form name="recipeForm2" role="form" novalidate>
                            <div class="form-group">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right recipe_create_ingredient_close" ng-click="removeIngredientGroup($index)">chiudi</button>
                                    <div class="col-xs-4" ng-class="{ 'has-error': recipeForm2.group_name.$touched && recipeForm2.group_name.$invalid }" ng-hide="ingredient_groups.length==1">
                                        <label class="control-label">Titolo gruppo ingredienti</label>
                                        <input type="text" class="form-control" name="group_name" ng-model="ingredient_group.name" required plceholder="ingredienti per l'impasto'"/ autocomplete="off">
                                        <div class="help-block" ng-messages="recipeForm2.group_name.$error" ng-if="recipeForm2.group_name.$touched">
                                            <div ng-messages-include="templates/validation_messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <!-- INGREDIENTI DI CIASCUN GRUPPO -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-condensed">
                                    <tr style="font-weight: bold">
                                        <td style="width: 70%">Nome</td>
                                        <td style="width: 10%">Quantità</td>
                                        <td style="width: 10%">Tipo</td>
                                        <td style="width: 10%">Opzioni</td>
                                    </tr>
                                    <tr ng-repeat="ingredient in ingredient_group.ingredients">
                                        <td>
                                            <!-- editable username (text with validation) -->
                                            <span editable-text="ingredient.name" e-typeahead-editable="false" e-typeahead-on-select="onSelect($item, $model, $label, ingredient)"
                                            e-uib-typeahead="product.name.long for product in searchProductsByName($viewValue)"
                                            e-name="name" e-form="recipeFormRow" e-required class="recipe_create_ingredient_required">
                                                {{ ingredient.name || 'es. zucchero' }}
                                            </span>
                                        </td>
                                        <td>
                                            <!-- editable status (select-local) -->
                                            <span editable-number="ingredient.quantity" e-ng-model="ingredient.quantity" e-name="quantity" e-form="recipeFormRow" e-min="1"
                                            e-max="999" e-required class="recipe_create_ingredient_required">
                                                {{ ingredient.quantity || 'es. 50' }}
                                            </span>
                                        </td>
                                        <td>
                                            <!-- editable group (select-remote) -->
                                            <span editable-text="ingredient.unitOfMeasure" e-typeahead-editable="false" e-ng-model="ingredient.unitOfMeasure" e-uib-typeahead="unit for unit in unitsOfMeasure | filter:$viewValue"
                                            e-name="unitOfMeasure" e-form="recipeFormRow" e-required class="recipe_create_ingredient_required">
                                                {{ ingredient.unitOfMeasure || 'es. g' }}
                                            </span>
                                        </td>
                                        <td style="white-space: nowrap">
                                            <!-- form -->
                                            <form editable-form name="recipeFormRow" ng-show="recipeFormRow.$visible" class="form-buttons form-inline" novalidate>
                                                <button type="submit" ng-disabled="recipeFormRow.$waiting" class="btn btn-success" title="salva">
                                                    <i class="fa fa-floppy-o"></i>
                                                </button>
                                                <button type="button" ng-disabled="recipeFormRow.$waiting" ng-click="recipeFormRow.$cancel()" class="btn btn-warning" title="annulla">
                                                    <i class="fa fa-undo"></i>
                                                </button>
                                            </form>
                                            <div class="buttons" ng-show="!recipeFormRow.$visible">
                                                <button type="button" class="btn btn-primary" ng-click="recipeFormRow.$show()" title="modifica"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-danger" ng-click="removeIngredient($parent.$index, $index)" title="elimina"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button type="button" class="btn btn-default" ng-click="addIngredient($index)">Aggiungi ingrediente</button>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGA 10 - Aggiungi un nuovo gruppo di ingredienti -->
            <div class="row c_recipe_row">
                <!-- vuoto -->
                <div class="col-md-4 c_recipe_left"></div>
                <div class="col-md-8 c_recipe_right">
                    <button type="button" class="btn btn-warning" ng-click="addIngredientGroup()">Aggiungi gruppo ingredienti</button>
                </div>
            </div>


            <!-- RIGA 10.5 - INGREDIENTI -->
            <div class="row c_recipe_row">
                <!-- vuoto -->
                <div class="col-md-4 c_recipe_left"></div>
                <div class="col-md-8 c_recipe_right">
                    <h3>PREPARAZIONE</h3>
                </div>
            </div>

            <!-- RIGA 11 - PROCEDIMENTO -->
            <div class="row c_recipe_row">
                <div class="col-md-4 c_recipe_left">
                    <span>Descrivi qui<br/> il procedimento della ricetta</span>
                </div>

                <div class="row c_recipe_row">
                    <div class="col-md-8 c_recipe_right">
                        <div class="media" ng-repeat="step in recipe_steps">
                            <h1 class="pull-left">
                                 <div class="recipe_prep_step">{{step.seq_number}}</div>
                            </h1>   
                            <div class="media-body">
                                <form name="recipeStepForm" role="form" novalidate>
                                    <div class="recipe_comment_txt" ng-class="{ 'has-error': recipeStepForm.description.$touched && recipeStepForm.description.$invalid }">
                                        <textarea class="form-control" name="description" rows="3" required ng-model="step.description"></textarea>
                                        <div class="help-block" ng-messages="recipeStepForm.description.$error" ng-if="recipeStepForm.description.$touched">
                                            <div ng-messages-include="templates/validation_messages.html"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row c_recipe_row">
                <div class="col-md-4 c_recipe_left"></div>
                <div class="col-md-8 c_recipe_right">
                    <button type="button" class="btn btn-warning" ng-click="addRecipeStep()">Aggiungi un altro passo</button>
                </div>
            </div>

            <!-- RIGA 12 - COMPLETAMENTO DELLA CREAZIONE -->
            <div class="row c_recipe_row">
                <form name="recipeForm3" ng-submit="createRecipe()" role="form" novalidate>
                    <div class="col-md-4 c_recipe_left"></div>
                    <div class="col-md-8 c_recipe_right text-right">

                        <!-- AZIONI RELATIVE ALLA RICETTA -->
                        <button type="submit" class="btn btn-primary" ng-disabled="recipeForm.$invalid || recipeForm2.$invalid || recipeForm3.$invalid">Pubblica la ricetta</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <!-- /panel-body -->
</div>
<!-- /panel -->