<!-- Colorazione dinamica della colonna di sinistra -->
<style>
    .recipe_col_4, .recipe_prep_step {
        background-color: {{detailedRecipe.dominantColor}};
        color:{{getTextColor(detailedRecipe)}};
    }
    
    body {
        background: url("{{detailedRecipe.blurredCoverImageUrl}}") no-repeat center center fixed;
        background-size: cover;
        padding: 50px 0 0 0;
    }
</style>

<div ng-controller="RecipeDetailCtrl">
    <div class="container-fluid">
        <div class="row recipe tasty_container">

            <!-- Profilo + Titolo -->
            <div class="col-md-8 col-sm-8 recipe_col_8 recipe_sp_1 recipe_generic_con">
                <!-- +aggiungi - condividi -->
                <div class="recipe_sp_1_1 text-right">
                    <span ng-click="openReportModal(detailedRecipe)" class="recipe_span_pointer"><i class="fa fa-exclamation-circle"></i> Sgnala</span>
                    <span ng-show="isRecipeAuthor(detailedRecipe)" ng-click="openEliminationModal(detailedRecipe)" class="recipe_span_pointer"><i class="fa fa-trash-o"></i> Elimina</span>
                    <span ng-click="openCollectionSelectionModal(detailedRecipe)" class="recipe_span_pointer"><i class="fa fa-plus"></i> Aggiungi a</span>
                    <span class="recipe_span_pointer"><i class="fa fa-share-alt"></i> Condividi</span>
                </div>
                <!-- profilo -->
                <div class="recipe_sp_1_2">
                    <a href="app/profile/{{detailedRecipe.author.id}}"><img src="{{ getUserProfileImage(detailedRecipe.author) }}" class="img-circle recipe_profile_photo pull-left"></a>
                    <div class="recipe_div_profile_name pull-left">
                        <h5 class="recipe_profile_name no-margin"><strong>{{detailedRecipe.author.name}} {{detailedRecipe.author.surname}}</strong></h5>
                        <h6 class="recipe_profile_edited no-margin">
                            {{formatDate(detailedRecipe.createdAt)}}
                        </h6>
                    </div>
                </div>
                <!-- portata + titolo -->
                <div class="recipe_sp_1_3">
                    <h5 class="no-margin">{{detailedRecipe.category}}</h5>
                    <h1 class="no-margin text-uppercase">{{detailedRecipe.title}}</h1>
                </div>

                <div class="clearfix"></div>
            </div>

            <!-- Foto + like-->
            <div class="col-md-4 col-sm-4 recipe_col_4 no-padding">
                <!-- immagine fissa ricetta -->
                <!--<div class="recipe_sp_2_1" style="background-image:url('{{detailedRecipe.coverImageUrl}}')"></div>-->

                <!-- inizio carousel -->
                    <div>
                        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                <div class="recipe_sp_2_1" style="background-image:url('{{detailedRecipe.coverImageUrl}}')"></div>
                                <!--
                                <div class="carousel-caption">
                                    <h4>Slide {{slide.id}}</h4>
                                    <p>{{slide.text}}</p>
                                </div>
                                -->
                            </uib-slide>
                        </uib-carousel>
                    </div>
                
                <!-- fine carousel -->

                <!-- icone + valori -->
                <div class="recipe_sp_2_2">
                    <table class="recipe_sp_2_2_table">
                        <tr>
                            <td><i class="fa fa-heart recipe_sp_2_2_icon" uib-tooltip="Persone che adorano questa ricetta"></i></td>
                            <td><i class="fa fa-comment recipe_sp_2_2_icon" uib-tooltip="Numero di commenti"></i></td>
                            <td><i class="fa fa-eye recipe_sp_2_2_icon" uib-tooltip="Numero di visualizzazioni"></i></td>
                            <td>
                                <span class="fa-stack fa-lg" ng-click="toggleTryRecipe(detailedRecipe)">
                                    <i class="fa fa-cutlery tasty_icon"
                                       uib-tooltip="Persone che hanno provato questa ricetta"
                                       ng-class="(detailedRecipe.userTry == null) ? 'tasty_icon_default' : 'tasty_icon_active'"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{detailedRecipe.votesCount}}</td>
                            <td>{{detailedRecipe.commentsCount}}</td>
                            <td>{{detailedRecipe.viewsCount}}</td>
                            <td>{{detailedRecipe.trialsCount}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- INGREDIENTI + PREPARAZIONE -->
            <div class="col-md-8 col-sm-8 recipe_col_8 recipe_generic_con">
   
                <!-- INGREDIENTI -->
                <div class="row recipe_ing_con">
                    <div class="col-md-12">
                        <div class="recipe_sub_title">INGREDIENTI</div>
                    </div>

                    <!-- gruppi di ingredienti -->
                    <div ng-repeat="ingredientGroup in detailedRecipe.ingredientGroups">
                        <div class="col-md-12">
                            <h4>{{ingredientGroup.name}}</h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 recipe_ingredient" ng-repeat="ingredient in ingredientGroup.ingredients">
                                <div class="col-xs-7 col-sm-7 col-md-7">
                                    <div class="text-left">
                                        <p class="recipe_ing_txt"><a href="">{{ingredient.product.name.long}}</a></p>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="text-right">
                                        <p class="recipe_ing_txt">{{ingredient.quantity}} {{ingredient.unitOfMeasure}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                </div>

                <!-- PREPARAZIONE -->
                <div class="col-md-8 col-sm-8 recipe_col_8 recipe_generic_con">
                <div class="row recipe_ing_con">
                    <div class="col-md-12">
                        <div class="recipe_sub_title">
                            PREPARAZIONE
                            <span class="pull-right"><i class="fa fa-clock-o"></i> {{detailedRecipe.preparationTime}} minuti</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media" ng-repeat="step in detailedRecipe.steps">
                            <div class="media-left media-middle" style="height: 100px; width: 100px;">
                                <h1>
                                    <div class="recipe_prep_step">{{step.seq_number}}</div>
                                </h1>
                            </div>
                            <div class="media-body media-middle">    
                                <span>{{step.description}}<span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- OPINIONI + VALORI NUTRIZIONALI + SPONSOR -->
            <div class="col-md-4 col-sm-4 recipe_col_4">

                <div class="row">
                    <!-- OPINIONI -->
                    <div class="col-md-12 recipe_sp_3" ng-controller="RecipeReviewCtrl">
                        <div class="recipe_sp_3_title" style="border-bottom: 1px solid {{getTextColor(detailedRecipe)}};">OPINIONI</div>
                        <div class="recipe_sp_3_con">
                            <table class="recipe_sp_3_table">
                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left">DIFFICOLTA</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">{{detailedRecipe.difficulty.total/detailedRecipe.difficulty.reviewsCount}}</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <span class="tasty_icon" ng-click="createRecipeReview('difficulty', 4)">☆</span>
                                                    <span class="tasty_icon" ng-click="createRecipeReview('difficulty', 3)">☆</span>
                                                    <span class="tasty_icon" ng-click="createRecipeReview('difficulty', 2)">☆</span>
                                                    <span class="tasty_icon" ng-click="createRecipeReview('difficulty', 1)">☆</span>
                                                    <span class="tasty_icon" ng-click="createRecipeReview('difficulty', 0)">☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left">COSTO</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">basso</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left">CALORIE</td>
                                    <td class="text-right">
                                        <div class="recipe_rating_con">
                                            <div class="recipe_rating_1">molto calorica</div>
                                            <div class="recipe_rating_2">
                                                <div class="rating">
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                    <span class="tasty_icon">☆</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- VALORI NUTRIZIONALI -->
                    <div class="col-md-12 recipe_sp_3">
                        <div class="recipe_sp_3_title"
                            ng-click="calculateNutrientValues(detailedRecipe)" 
                            uib-tooltip="I valori espressi sono relativi all'insieme degli ingredienti che compongono la ricetta. I risultati sono da considerarsi come stime, pertanto i valori reali dei nutrienti potrebbero variare."
                            style="border-bottom: 1px solid {{getTextColor(detailedRecipe)}};">
                            <a href="">VALORI NUTRIZIONALI</a>
                        </div>
                        <div class="recipe_sp_3_con">
                            <table class="recipe_sp_3_table">
                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Valore energetico</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalEnergy.value.toFixed(2)}} {{detailedRecipe.totalEnergy.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Proteine</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalProtein.value.toFixed(2)}} {{detailedRecipe.totalProtein.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Carboidrati</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalCarbs.value.toFixed(2)}} {{detailedRecipe.totalCarbs.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left recipe_sp_3_val_nut_sec"><strong>di cui zuccheri</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalSugar.value.toFixed(2)}} {{detailedRecipe.totalSugar.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Grassi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFat.value.toFixed(2)}} {{detailedRecipe.totalFat.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left recipe_sp_3_val_nut_sec"><strong>di cui saturi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFatSat.value.toFixed(2)}} {{detailedRecipe.totalFatSat.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Liquidi</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalWater.value.toFixed(2)}} {{detailedRecipe.totalWater.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Fibre</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalFibers.value.toFixed(2)}} {{detailedRecipe.totalFibers.unit}}</td>
                                </tr>

                                <tr class="recipe_sp_3_tr">
                                    <td class="text-left"><strong>Sodio</strong></td>
                                    <td class="text-right">{{detailedRecipe.totalSod.value.toFixed(2)}} {{detailedRecipe.totalSod.unit}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- SPONSOR -->
                <div class="recipe_sp_spons_con" style="border-top: 1px solid {{getTextColor(detailedRecipe)}};">
                    <span class="recipe_sp_spons_title">SPONSORIZZATE</span>

                    <div class="recipe_sp_spons">
                        <img src="app_images/sponsor.jpg" class="img-responsive">
                        <h5><strong>NUOVA COLLEZIONE BARILLA</strong></h5>
                        <h6>Scopri la qualità della nostra pasta ottenuto unicamente dal nostro grano 100% italiano.</h6>
                    </div>

                    <div class="recipe_sp_spons">
                        <img src="app_images/sponsor1.png" class="img-responsive">
                        <h5><strong>COCA-COLA</strong></h5>
                        <h6>La nuova coca-cola senza zuccheri aggiunti!</h6>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>

            <!-- COMMENTI -->
            <div class="col-md-8 col-sm-8 recipe_col_8 recipe_generic_con" ng-controller="CommentCtrl">
                <div class="row recipe_comment_con">
                    <!-- commenti - title -->
                    <div class="col-md-12">
                        <div class="recipe_sub_title">COMMENTI</div>
                    </div>

                    <!-- commenti - list -->
                    <div class="col-md-12">

                        <!-- nuovo commento (del profilo loggato) -->
                        <form ng-submit="create()" role="form">
                            <div class="media">
                                <a class="pull-left" href="">
                                    <img class="media-object img-circle recipe_comment_photo" src="{{ getUserProfileImage(currentUser) }}" alt="{{ currentUser.name }} {{ currentUser.surname }}">
                                </a>
                                <div class="media-body">
                                    <input type="text" class="form-control recipe_comment_input" placeholder="Scrivi cosa ne pensi..." ng-model="commentToCreate.body">
                                </div>
                            </div>
                            <input type="submit" 
                                style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                tabindex="-1" />
                        </form>
                        
                        <!-- placeholder se non ci sono commenti -->
                        <div class="media" ng-hide="detailedRecipe.commentsCount > 0">
                            <div class="media-body">
                                <h5 class="media-heading text-center">Nessun commento trovato</h5>
                            </div>
                        </div>

                        <!-- commento singolo -->
                        <div class="media" ng-repeat="comment in detailedRecipe.comments" ng-init="checkVote(comment)">
                            <a class="pull-left" href="">
                                <img class="media-object img-circle recipe_comment_photo" src="{{ getUserProfileImage(comment.user) }}" alt="{{comment.user.name}} {{comment.user.surname}}">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <strong>{{comment.user.name}} {{comment.user.surname}} </strong><span class="recipe_comment_when">{{formatDate(comment.createdAt)}}</span>
                                    <a href="#" ng-show="comment.user.id == currentUser.id" ng-click="deleteComment(detailedRecipe, comment)" class="recipe_comment_delete"><i class="fa fa-times"></i></a>
                                </h5>
                                <h6 class="recipe_comment_txt">
												{{comment.body}}
											</h6>
                                <!-- Rispondi -->
                                <div class="recipe_comment_reply">
                                    <a href=""><span>Rispondi</span></a>
                                    <a href="" ng-click="toggleUpvote(comment, comment.userUpvote)">
                                        <i class="fa" ng-class="(comment.userUpvote == null) ? 'fa-thumbs-o-up' : 'fa-thumbs-up'"></i>{{comment.upvotesCount}}
                                    </a>
                                    <a href="" ng-click="toggleDownvote(comment, comment.userDownvote)">
                                        <i class="fa" ng-class="(comment.userDownvote == null) ? 'fa-thumbs-o-down' : 'fa-thumbs-down'"></i>{{comment.downvotesCount}}
                                    </a>
                                </div>
                                
                                <!-- commento di commento -->
                                <div class="media" ng-repeat="response in comment.responses">
                                    <a class="pull-left" href="personal_profile.php">
                                        <img class="media-object img-circle recipe_comment_photo recipe_comment_sub_photo" src="imm/mario.jpg" alt="Mariusz Wiazowski">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Mariusz</strong> <span class="recipe_comment_when">1 ora fa</span></h5>
                                        <h6 class="recipe_comment_txt">
														Eh si! fatti alla griglia vengono buonissimi!
													</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- metodo per caricare ulteriori commenti -->
                        <div class="media text-center">
                            <div class="media-body">
                                <load-more-button elements="detailedRecipe.comments"
                                on-click-function="getRecipeComments(skip, successCB, errorCB)"
                                step="5"></load-more-button>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

        </div>
        <!-- end recipe -->

    </div>

    <!-- CONSIGLIATE -->

    <div class="container-fluid tasty_container" ng-hide="true">
        <!-- title -->
        <div class="row  text-center">
            <div class="col-md-4">
                <hr class="recipe_title_bar"></hr>
            </div>
            <div class="col-md-4">
                <h3 class="recipe_title_text">Consigliate</h3></div>
            <div class="col-md-4">
                <hr class="recipe_title_bar"></hr>
            </div>
        </div>

        <!-- Card Like -->
        <div class="row tasty_container_margin text-center">

            <!-- card 1 -->
            <div class="card">
                <div class="thumbnail no-padding no-border card_info no-border-radius">
                    <div class="card_img"></div>
                    <div class="caption color_caption">
                        <div class="container-fluid">

                            <!-- icone + valori -->
                            <div class="row text-right">
                                <i class="fa fa-heart card_icon"> 30</i>
                                <i class="fa fa-comment card_icon"> 112</i>
                                <i class="fa fa-eye card_icon"> 90</i>
                                <i class="fa fa-cutlery card_icon"> 8</i>
                            </div>

                            <!-- tipo portata -->
                            <div class="row">
                                <span><h6 class="card_reach">Primi piatti</h6></span>
                            </div>

                            <!-- titolo portata -->
                            <div class="row">
                                <span class="text-uppercase"><h5 class="no-margin card_title">Tagliatelle alla Thai</h5></span>
                            </div>

                            <!-- profile -->
                            <div class="row card_profile">
                                <img src="imm/matt.jpg" class="img-circle card_profile_photo pull-left">
                                <div class="card_profile_name pull-left">
                                    <h6>Matteo Bolognesi</h6></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- fine card -->

            <!-- card 2 -->
            <div class="card">
                <div class="thumbnail no-padding no-border card_info no-border-radius" style="background-color:#BC922B;">
                    <div class="card_img" style="background-image: url('imm/arrosto_tb.jpg');"></div>
                    <div class="caption color_caption">
                        <div class="container-fluid">

                            <!-- icone + valori -->
                            <div class="row text-right">
                                <i class="fa fa-heart card_icon"> 30</i>
                                <i class="fa fa-comment card_icon"> 112</i>
                                <i class="fa fa-eye card_icon"> 90</i>
                                <i class="fa fa-cutlery card_icon"> 8</i>
                            </div>

                            <!-- tipo portata -->
                            <div class="row">
                                <span><h6 class="card_reach">Secondi piatti</h6></span>
                            </div>

                            <!-- titolo portata -->
                            <div class="row">
                                <span class="text-uppercase"><h5 class="no-margin card_title">tagliata con patate al forno</h5></span>
                            </div>

                            <!-- profile -->
                            <div class="row card_profile">
                                <img src="imm/matt.jpg" class="img-circle card_profile_photo pull-left">
                                <div class="card_profile_name pull-left">
                                    <h6>Matteo Bolognesi</h6></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- fine card -->

            <!-- card 3 -->
            <div class="card">
                <div class="thumbnail no-padding no-border card_info no-border-radius" style="background-color:#FFB555;">
                    <div class="card_img" style="background-image: url('imm/pizza_tb.jpg');"></div>
                    <div class="caption color_caption">
                        <div class="container-fluid">

                            <!-- icone + valori -->
                            <div class="row text-right">
                                <i class="fa fa-heart card_icon"> 30</i>
                                <i class="fa fa-comment card_icon"> 112</i>
                                <i class="fa fa-eye card_icon"> 90</i>
                                <i class="fa fa-cutlery card_icon"> 8</i>
                            </div>

                            <!-- tipo portata -->
                            <div class="row">
                                <span><h6 class="card_reach">Pizza</h6></span>
                            </div>

                            <!-- titolo portata -->
                            <div class="row">
                                <span class="text-uppercase"><h5 class="no-margin card_title">Pizza La parmigiana</h5></span>
                            </div>

                            <!-- profile -->
                            <div class="row card_profile">
                                <img src="imm/matt.jpg" class="img-circle card_profile_photo pull-left">
                                <div class="card_profile_name pull-left">
                                    <h6>Matteo Bolognesi</h6></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- fine card -->

            <!-- card 4 -->
            <div class="card">
                <div class="thumbnail no-padding no-border card_info no-border-radius" style="background-color:#B37D4C;">
                    <div class="card_img" style="background-image: url('imm/snack_tb.jpg');"></div>
                    <div class="caption color_caption">
                        <div class="container-fluid">

                            <!-- icone + valori -->
                            <div class="row text-right">
                                <i class="fa fa-heart card_icon"> 30</i>
                                <i class="fa fa-comment card_icon"> 112</i>
                                <i class="fa fa-eye card_icon"> 90</i>
                                <i class="fa fa-cutlery card_icon"> 8</i>
                            </div>

                            <!-- tipo portata -->
                            <div class="row">
                                <span><h6 class="card_reach">Dolci</h6></span>
                            </div>

                            <!-- titolo portata -->
                            <div class="row">
                                <span class="text-uppercase"><h5 class="no-margin card_title">Bocconcini al cocco</h5></span>
                            </div>

                            <!-- profile -->
                            <div class="row card_profile">
                                <img src="imm/matt.jpg" class="img-circle card_profile_photo pull-left">
                                <div class="card_profile_name pull-left">
                                    <h6>Matteo Bolognesi</h6></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- fine card -->
        </div>

    </div>
</div>