<div class="container-fluid">
    <div class="row">
        <!-- Ricerca Avanzata -->
        <div class="col-sm-12 col-md-3 pull-right">
            
            <div class="fluid-container">
            
                <!-- ricerca row -->
                <div class="row search_background_gray search_row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Cerca">
                    </div>
                </div>
                
                <!-- ricette, raccolte, persone -->
                <div class="row search_background_gray search_row">
                    <div class="col-md-12 text-center">
                        <a class="search_button_category active" href="#" role="button">RICETTE</a>
                        <a class="search_button_category" href="#" role="button">RACCOLTE</a>
                        <a class="search_button_category" href="#" role="button">PERSONE</a>
                    </div>
                </div>
                
                <!-- ricerca row -->
                <div class="row search_background_white search_row">
                    <div class="col-md-12 search_title">
                        <h4>TIPOLOGIA</h4>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state1 = !state1" ng-class="{'active' : state1}">
                        <span class="search_item_title">Primi Piatti</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state2 = !state2" ng-class="{'active' : state2}">
                        <span class="search_item_title">Secondi Piatti</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state3 = !state3" ng-class="{'active' : state3}">
                        <span class="search_item_title">Bevande</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state4 = !state4" ng-class="{'active' : state4}">
                        <span class="search_item_title">Zuppe</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state5 = !state5" ng-class="{'active' : state5}">
                        <span class="search_item_title">Cocktails</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state6 = !state6" ng-class="{'active' : state6}">
                        <span class="search_item_title">Insalate</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state7 = !state7" ng-class="{'active' : state7}">
                        <span class="search_item_title">Contorni</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state8 = !state8" ng-class="{'active' : state8}">
                        <span class="search_item_title">Antipasti e Stuzzichini</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state9 = !state9" ng-class="{'active' : state9}">
                        <span class="search_item_title">Marmellate e conserve</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state10 = !state10" ng-class="{'active' : state10}">
                        <span class="search_item_title">Dessert e torte</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item" ng-click="state11 = !state11" ng-class="{'active' : state11}">
                        <span class="search_item_title">Salse</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
                
                <!-- ricerca row - TEMPO-->
                <div class="row search_background_white search_row">
                    <div class="col-md-12 search_title">
                        <h4>TEMPO</h4>
                    </div>
                </div>
                
                <!-- ricerca row - INGREDIENTI -->
                <div class="row search_background_white search_row">
                    <div class="col-md-12 search_title">
                        <h4>INGREDIENTI</h4>
                    </div>
                    <div class="col-md-12 search_title">
                        <input type="text" class="form-control" placeholder="Nome dell'ingrediente">
                    </div>
                    
                    <div class="col-md-6 search_item active">
                        <span class="search_item_title">Patate</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item active">
                        <span class="search_item_title">Farina 00</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="col-md-6 search_item active">
                        <span class="search_item_title">Olio d'oliva</span>
                        <span class="search_item_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div>
                </div>
                
                <!-- ricerca row - OPINIONI -->
                <div class="row search_background_white search_row">
                    <div class="col-md-12 search_title">
                        <h4>OPINIONI</h4>
                    </div>
                    
                </div>
                
            </div>
                
        </div>
        
        <!-- risultati ricerca -->
        <div class="col-md-9 pull-left">
            <!-- -------------------------------- ricette -------------------------------- -->
            <div ng-show="recipes.length > 0">
                <!-- container card -->
                <div class="row tasty_container text-center tasty_title_category tasty_load_space">
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                    <div class="col-md-4">
                        <h3 class="tasty_title_text">{{recipes.length}} ricette trovate per {{q}}</h3>
                    </div>
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                </div>

                <!-- RECIPE CARD -->
                <div class="row tasty_container text-center" ng-controller="RecipeCtrl">

                    <!-- basic card -->
                    <recipe-card recipe="recipe" open-collection-modal="openCollectionSelectionModal(recipe)" open-share-modal="openShareModal(recipe)"
                    toggle-upvote-recipe="toggleUpvoteRecipe(recipe)" ng-repeat="recipe in recipes" ng-init="checkVote(recipe)"></recipe-card>
                    <!-- fine card -->
                </div>
                <!-- fine tasty_container -->

                <!-- button carica altro -->
                <div class="row tasty_container text-center tasty_load_space">
                    <load-more-button elements="recipes" on-click-function="loadMoreRecipes(skip, successCB, errorCB)" step="30"></load-more-button>
                </div>
            </div>

            <!-- -------------------------------- raccolte -------------------------------- -->
            <div ng-show="collections.length > 0">
                <!-- container card -->
                <div class="row tasty_container text-center tasty_title_category tasty_load_space">
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                    <div class="col-md-4">
                        <h3 class="tasty_title_text">{{collections.length}} raccolte trovate per {{q}}</h3>
                    </div>
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                </div>

                <!-- container card -->
                <div class="row tasty_container text-center tasty_load_space">

                    <!-- collection card -->
                    <collection-card collection="collection" ng-repeat="collection in collections"></collection-card>
                    <!-- collection card -->
                </div>

                <!-- button carica altro -->
                <div class="row tasty_container text-center tasty_load_space">
                    <load-more-button elements="collections" on-click-function="loadMoreCollections(skip, successCB, errorCB)" step="30"></load-more-button>
                </div>
            </div>

            <!-- -------------------------------- utenti -------------------------------- -->

            <div ng-show="users.length > 0">
                <div class="row tasty_container text-center tasty_title_category tasty_load_space">
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                    <div class="col-md-4">
                        <h3 class="tasty_title_text">{{users.length}} persone trovate per {{q}}</h3></div>
                    <div class="col-md-4">
                        <hr class="tasty_title_bar"></hr>
                    </div>
                </div>

                <!-- profile's cards -->
                <div class="row tasty_container text-center tasty_load_space">

                    <!-- user card -->
                    <user-card user="user" ng-repeat="user in users"></user-card>
                    <!-- user card -->
                </div>

                <!-- button carica altro -->
                <div class="row tasty_container text-center tasty_load_space">
                    <load-more-button elements="users" on-click-function="loadMoreUsers(skip, successCB, errorCB)" step="30"></load-more-button>
                </div>
            </div>
        </div>

    </div>
</div>