<div class="starter-template">
	<h1>Gestione prodotti</h1>
	<p class="lead">Interfaccia amministratore per gestire il database degli ingredienti.<br> Nel caso che un prodotto sia mancante può essere
		aggiunto.
	</p>
	<p class="pull-right"><button type="button" class="btn btn-primary btn-sm" ng-click="openAddModal()">Aggiungi prodotto</button></p>
</div>
        
<ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" items-per-page="itemsPerPage" boundary-links="true" class="pagination-sm"></ul>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Stato</th>
			<th>Nome</th>
			<th>Categoria</th>
			<th>Azioni</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td><a target="_blank">{{product.id}}</a></td>
			<td><span class="label label-primary">{{product.state}}</span></td>
			<td>{{product.name.long}}</td>
			<td>{{product.group}}</td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="openEliminationModal(product)">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-warning btn-sm" ng-click="openEditModal(product)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>